[2020-06-13 02:08] JMing007 commented on #727
Apologies. Not sure why the text came out so big:
Spline command:
java -D"spline.mongodb.url=<<connectiong from Cosmos DB page in Azure Portal>>" -D"spline.mongodb.name=<<Azures DB name>>" -jar <<full path to spline-web-0.3.9-exec-war.jar>>

[2020-06-13 04:45] uday1409 commented on #727
When you install webapp, you can check in logs that if you are able to connect to MongoDB. Also, please check in CosmosDB collections if something was created

[2020-06-13 10:21] wajda opened #728 "More UI fixes"
1. Version watermark conflicts with the dashboard grid
2. Vertical scroll appears on the dashboard in Chrome on  4K UHD
3. The graph isn't full screen in embedded mode
4. Confusing icon for Alias expr in the expression view dialog
5. Array of expressions should be rendered properly in the operation properties view.

[2020-06-13 10:24] #708 closed

[2020-06-13 10:24] #651 closed

[2020-06-13 10:25] #700 closed

[2020-06-13 10:25] #697 closed

[2020-06-13 10:25] #645 closed

[2020-06-13 10:25] #686 closed

[2020-06-13 10:25] #696 closed

[2020-06-13 10:49] uday1409 commented on #688
I have figured out the issue. Thank you for all your help @wajda . The issue was with databricks cluster itself. I will post my requirement in another issue.

[2020-06-13 11:18] #688 closed

[2020-06-13 11:49] uday1409 opened #730 "Throwing runtime exception for delta commands"
##
Current spline is not supported for delta commands such as MergeInto, Update, Delete

##
I have added io.delta package with scope provided as databricks cluster by default has io.delta imported, and made changes to WriteCommandExtractor.scala file.

##
import org.apache.spark.sql.delta.commands._

and added below code to commandsToBeImplemented just to see if it throws custom exception when run

[2020-06-15 07:50] DaimonPl commented on #712
@wajda I'll gather stats tomorrow. Today we'll try to enable additional projects with spline, this should give better stats

[2020-06-15 07:52] DaimonPl commented on #718
@wajda do you think it's possible to improve it for 0.5.2 ? If not, any idea when 0.5.2 with current fixes would be available ?

[2020-06-15 08:57] wajda commented on #718
Without this fix 0.5.2 will be released today.
But let me have a glace on this one

[2020-06-15 10:34] wajda commented on #718
We use [cytoscape-klay](https://github.com/cytoscape/cytoscape.js-klay) for graph rendering.
Here's the respective config in the project - https://github.com/AbsaOSS/spline/blob/release/0.5/client-ui/src/app/store/reducers/layout.reducer.ts#L40
As you can see there are quite a few knobs to tweak.

I tried to reproduce your example along, but it seems that it wasn't big enough to reproduce the grap

[2020-06-15 10:39] wajda commented on #718
@oleksandr-korchak, please notice the above example which explains why we used to have that hexagon icon on the resulted source - simply because for certain graphs it's impossible to see where is the root node.

[2020-06-15 11:22] DaimonPl commented on #718
@wajda your second example after this minor tweaking looks great, do you think this could be added to 0.5.2? I could then check bigger graphs and check what can be done with more complex cases in next version

BTW my intention never was to display chronology of jobs - all i'm mentioning is clear dependency graph and as you can see in initial post even quite simple scenario was  difficult to read i

[2020-06-15 11:53] wajda commented on #718
Yep, will do the change.

[2020-06-15 18:14] #728 closed

[2020-06-15 18:58] #718 closed

[2020-06-16 06:44] DaimonPl commented on #712
Ok, so here are stats for two bigger processing projects and several medium/smaller. It's still only part of entire data processing but spline is not yet enabled everywhere (also included projects have datasource dependencies which themselves may have quite big graphs but theya re not yet in spline)

here are results of queries (db still from spline 0.5.1)

[code]

[2020-06-16 07:13] DaimonPl opened #732 "Visible URL to detailed lineage"
It would be good if UI would additionally display URL to detailed lineage of job.

It took me really a while to realize that double click on job on graph has some action :D

[2020-06-16 11:40] wajda commented on #732
:facepalm: man, where have you been yesterday? :laughing: Now I need to release a new version of the entire project just to add
```<a href="..." >Show detailed lineage</a>```

[2020-06-16 11:44] DaimonPl commented on #732
I think it can safely wait for other changes :)

[2020-06-17 06:24] DaimonPl opened #734 "Spline won't initialize on 0.5.2"
Ok so after upgrading to 0.5.2 and clearing database it's not possible for spline to initialize again :( here's what i'm getting:

[code]

[2020-06-17 06:29] DaimonPl commented on #734
It happens with `db-init -s` when database does not exist in arangodb

[2020-06-17 06:51] DaimonPl opened #735 "UI - missing lineage report"
Just an idea, in our current setup spline is not enabled everywhere (currently on purpose, initial phase).

It would be helpful if there was report in UI showing which datasources do not have their lineage - sorted by number of usages

So if i have 3 jobs which are using datasource "users" and i don't have lineage for "users" itself, report could show that this datasource with that URI is used by

[2020-06-17 09:20] wajda commented on #734
Bug is a workaround for another bug. Nice.

[2020-06-17 10:00] wajda commented on #735
Good idea We'll think about it in a scope of a new UI
Meantime you can use the following AQL query to achieve that:
[code]

[2020-06-17 14:01] wajda commented on #732
+ fixed breadcrumbs navigation

[2020-06-17 14:17] #732 closed

[2020-06-17 14:17] #734 closed

[2020-06-17 15:50] wajda opened #737 "Semi multi-tenancy support"
The system should allow for metadata isolation based on different criteria such as:
  - the source system
  - function unit
  - project name
  - {{TBD}}

For now the isolation should be done logically, keeping the data physically on a shared persistent storage, maintaining links and data consistency. The goal is to isolate the users form the "noisy neighbors" on the UI and Consumer API level, whil

[2020-06-18 09:25] wajda commented on #689
AbsaOSS/spline-spark-agent#69
AbsaOSS/spline-spark-agent#98
AbsaOSS/spline-spark-agent#99

[2020-06-22 08:03] DaimonPl opened #738 "lineage-overview - 598 Network read timeout error (spline 0.5.3)"
Ok, so first case spline could not display graph. Number of jobs is not big, but jobs are very big inside (their execution plan) and some jobs may have "past dependency" (`time + 1` depends on same graph from `time`)

lineage-overview XHR returned 598 Network read timeout

On server side i've found that arangodb was using all available CPU for that request

Stats from queries (`appends` query is e

[2020-06-22 08:10] DaimonPl commented on #738
Case is:

Job X produces data D. X when producing D reads D-1 which is created by X-1. X is executed hourly and has very big graph inside

[2020-06-22 12:15] DaimonPl commented on #738
I just confirmed that single graph for single job X displays just fine. After hour apses we've got X and X+1 on same graph, it's slower but still works. After several hours (and jobs) single graph is too big. Either there's some endless loop on backend or it just timeouts because of huge data being returned in single request

[2020-06-22 12:45] wajda commented on #738
I bet it's the later case - huge data. Although the query is recursive it cannot loop infinitely - on one hand the recursion depth is restricted by a parameter, and on another hand the query is only traverse backward in time, never forward, from any given point. That is under assumption that all nodes' clocks are sync'ed however. I cannot tell from the top of my head if the actual loop is possible

[2020-06-22 12:51] wajda commented on #738
Can you elaborate on that one please? Do you mean that an execution plan of the same job grows from a run to a run?
You said that the job **X<sub>i</sub>** reads from **D<sub>i-1</sub>** that is produced by **X<sub>i-1</sub>**. This should not affect the size of **X<sub>i</sub>**'s execution plan.

[2020-06-22 13:04] DaimonPl commented on #738
Each single execution plan is same but graph/visualisation grows:

We've got datasource **D**. First run of **Xi** reads and writes **D** so graph would be **Xi** <-> **D** . Next we've got run **Xi+1** it also reads and writes **D**, but **D** already has lineage from **Xi** so we end'up with **Xi** <-> **D** <-> **Xi+1** , With **Xi+2** graph/visualisation will have yet another addition in graph

[2020-06-22 13:32] DaimonPl commented on #738
WOuld changing app name of **Xi**, **Xi+1**, **Xi+2** help anything if they all would have same name **X** but different app ids ? Would spline in that case just overwrite previous lineage/plan ?

[2020-06-22 14:05] wajda commented on #738
The app name, likewise the app ID is completely irrelevant for lineage. Every run of every job is recorded completely independently. The global (end-to-end) lineage picture is created by traversing individual execution plans with respect to two things - the time and the data source. It doesn't matter if I read from and write to the very same file or table, because both events (read and write) bein

[2020-06-22 14:15] wajda commented on #738
For performance troubleshooting it's important to distinguish between performance degradation because of a single execution plan being too big, and because of a number of writes to a single data source being too large. In the first case the UI would have difficulties to display detailed lineage, while the global lineage overview picture would still render OK. In the later case (large number of wri

[2020-06-22 14:22] DaimonPl commented on #738
Degradation happens after multiple executions (multiple subsequent writes by subsequent jobs of same type).

First lineage overview is fast. Further (some more writes) become slower and slower up to the point when it always timeouts

Job is run hourly so our daily retention does not help

[2020-06-22 14:54] wajda commented on #738
I see, so the overview query gets slower. Hm... I wonder if it's fixable by just tweaking some indices.
Can you help me to profile the query? I'll send you a few portions of it, so we can identify the culprit.

[2020-06-22 15:41] wajda commented on #738
[code]

[2020-06-22 15:44] DaimonPl commented on #738
Ok, I'll run it tomorrow

[2020-06-22 15:48] DaimonPl commented on #738
I just ran this query but it returns empty result :(

[2020-06-22 15:49] wajda commented on #738
Take he value for `@eventId` from the Spline UI URL that fails to load.
![image](https://user-images.githubusercontent.com/795479/85307369-1f43c400-b4b0-11ea-9079-d723403fd09d.png)

Then run both "Profile" and "Explain" actions in the ArrangoDB UI

![image](https://user-images.githubusercontent.com/795479/85307799-a42edd80-b4b0-11ea-87cd-dcba628d5c51.png)

[2020-06-22 15:53] DaimonPl commented on #738
[code]

[2020-06-22 16:01] DaimonPl commented on #738
That query returns very fast. I think something different is a problem

My friend found that reducing max depth in query makes it very fast. `maxDepth>=7` returns error. `maxDepth<=6` work fine (the smaller, the faster)

[2020-06-22 16:04] wajda commented on #738
Try the full one (the one that returns the graph overview for UI)

[code]

[2020-06-22 16:07] wajda commented on #738
basically ```SPLINE::EVENT_LINEAGE_OVERVIEW``` implements that recursion and executes the other queries (the ones that I sent you before) against different event IDs it finds in a path. So there are might be some event ID on that some of those queries takes particularly long to run. It would be cool to find that event ID and the exact subquery

[2020-06-22 16:08] wajda commented on #738
Here's the source code for that custom function - https://github.com/AbsaOSS/spline/blob/release/0.5.3/persistence/src/main/resources/AQLFunctions/event_lineage_overview.js

[2020-06-22 16:19] DaimonPl commented on #738
I could only get this profile (probably not very helpful). Deeper depths would not return in reasonable waiting time (human timeout occurred ;) )

[code]

[2020-06-22 16:21] wajda commented on #738
44 seconds?? That's a lot :)

Is the difference between 6 and 7 much more noticeable than between 5 and 6? I'm trying to understand if every recursion cycle takes similar time, or it there a job/even on which the query takes significantly longer...

Can you share the screenshot of the graph that still works? Or at least the returned JSON from the REST request?

[2020-06-22 16:25] DaimonPl commented on #738
Depth times

7 - 44 seconds
6 - 12 seconds
5 - 2.3 seconds
4 - 0.5 seconds

[2020-06-22 16:28] DaimonPl commented on #738
here's graph from first job run

![image](https://user-images.githubusercontent.com/9693936/85311576-ec043380-b4b5-11ea-810b-ca415c50c269.png)

here's job from second job run (time +1 hour)

![image](https://user-images.githubusercontent.com/9693936/85311741-2c63b180-b4b6-11ea-89f8-c5e0dd8a408e.png)

I think that third run is the first to fail

[2020-06-22 16:29] DaimonPl commented on #738
It's some kind of exponential explosion :)

[2020-06-22 16:30] wajda commented on #738
Don't tell me that :)

[2020-06-22 16:32] wajda commented on #738
So now I feel that I need to go home. It seems we've got plenty of work for the future days :))

[2020-06-22 16:35] wajda commented on #738
But... well... it's a graph traversing after all, the time complexity is expected to be exponential. The problem is that it's too steep, right?

[2020-06-22 16:44] DaimonPl commented on #738
I think it's specific scensrio:
- job writes 3 partitions to table (single hive datasource uri)
- when calculating those writes it reads same table as one of the sources (same uri as writes)
- it is calculated hourly
- first job run displays 3 exec plans (3 writes)
- as a result second job run displays 3*3 exec plans
- third job run would probably display 3*3*3 and so on

[2020-06-23 09:08] wajda commented on #738
Related to #260

[2020-06-24 06:39] DaimonPl commented on #738
For now we've workarounded problem that our scheduler (airflow) ensures that even if job runs every 10 minutes it will report lineage only once per day + spline itself has daily retention.

Is there a way to configure default max depth? If we could set it to for example 5 (+ allow in ui to expand) it might solve such issues

[2020-06-24 08:28] wajda commented on #738
Not in this version. But you can modify the source and create your custom UI build.
https://github.com/AbsaOSS/spline/blob/release/0.5.3/client-ui/src/app/effects/lineage-overview.effects.ts#L38

[2020-06-24 08:41] wajda commented on #738
For arrows we have a separate issue #399. Unfortunately it's tricky to make it usable on UI because of this particular graph representation. Every node on the picture may represent multiple instances of itself at different times. Basically you miss a time axis on that view. So to expand the node you need to somehow specify which exact instance you mean. We'll address this in the new UI by introduc

[2020-06-24 08:53] wajda commented on #738
BTW, looking again at your screenshot above. The one you described as

From what I understand from that is the picture should contain 6 jobs, but in fact it contains 9 of them. So it's either 3rd run (not the 2nd) or your jobs execute more than 3 writes per run.

[2020-06-24 08:55] DaimonPl commented on #738
Those are 3 writes. But because each write depends on 3 writes from previous run it displays as 3*3

Third run would have 3*3*3 - this causes that performance explosion

[2020-06-25 11:02] pratapmmmec opened #739 "Purge historic lineage from admin jar"
Do we have a way to purge historic lineage from admin jar? For instance if I only want to have last 30 days of lineage. This will reduce arangodb footprint required.

[2020-06-25 12:50] wajda commented on #739
This is on our backlog - #684

[2020-06-25 13:03] wajda opened #740 "Migrator stalls at a certain record number"
Processed: 84200     Failures: 2459      Speed [doc/sec]: 17.26     Queue: [..........]

[2020-06-25 13:03] wajda commented on #740
@hamc17

[2020-06-25 13:08] wajda opened #741 "Spline dashboard takes too long to load"
the query used to populate the dashboard table has O(n) or worse complexity. Should be O(1)

[2020-06-25 15:39] ayanbizz opened #742 "Unable to run Spline in yarn cluster mode unable to access producer url"
I am getting the following error while trying to initialize spline in yarn cluster mode.
The  error is related to the producer url access.
I am able to run spline in deploy-mode = client , the issue is with cluster mode.
This is how I tried to run the spark-submit
**spark-submit --master yarn --deploy-mode cluster --queue sparkjobs --jars spark-2.3-spline-agent-bundle_2.11-0.5.3.jar --conf "spark.

[2020-06-26 06:16] cerveada commented on #742
This error means Agent is not able to reach the Gateway over the network. If Spline works in local mode, it probably means the connection from the cluster to gateway is somehow blocked.

The agent is basically listener in the Spark driver and since in cluster mode the driver is in the cluster, you have to make sure that the Spline Gateway is accessible from cluster and the `spark.spline.producer.u

[2020-06-29 04:47] ankit302 opened #743 "While configuring Arangodb connection URL - getting error "com.arangodb.ArangoDBException: java.io.IOException: Reached the end of the stream""
## Background
We are trying to setup Spline on Azure Kubernetes environment by following the spline documentation; [Spline docs](https://absaoss.github.io/spline/).

Below is the deployment /configuration we have used;

Spline Deployment.yaml:
[code]

Spline service.yaml
[code]

Spline crest server pod is failing with below error log:
[code]

Any suggestion why we are getting this issue.

[2020-06-29 11:10] wajda commented on #743
Please check your ArangoDB setup.
Also try to google the error message. This is one of the references -  https://github.com/arangodb/arangodb-java-driver/issues/221

[2020-06-29 11:57] wajda commented on #738
Trying to simulate your use case.
It looks like the three writes produces by the first run of your job, already depend on each other. Plus, those writes also depend on a half a dozen other non-recursive data sources. That all makes the overall graph traversing even more complex than **3<sup>x</sup>**.

Can you please check if the below approximation corresponds the execution plan of a single itera

[2020-06-29 11:59] wajda commented on #738
The top orange node should be **J<sub>1</sub>** obviously, That's a typo.

[2020-06-29 12:10] DaimonPl commented on #738
It's a bit different, here're details about exactly what's going on.

There's Hive table `T` with 2 partition columns - `date` and `type`
Job `J` for `date` reads `T` from `date-1` (all `type`s at once) and produces 3 partitions in table `T` with `date` and 3 different `type`. It also reads several other datasources but those other dependencies are more typical scenario.

Because it's a Hive table

[2020-06-29 12:59] ankit302 commented on #743
Hi @wajda ,

I was able to fix this issue,
now it's failing while accessing spline WEBUI.

Spline UI Deployment.yaml:-

kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: ui
  name: spline-ui
  namespace: dataservice
spec:
  replicas: 1
  selector:
    matchLabels:
      io.k

[2020-06-29 13:01] wajda commented on #738
What's `T` on your screenshot here? - https://user-images.githubusercontent.com/9693936/85311576-ec043380-b4b5-11ea-810b-ca415c50c269.png
I see there are three URIs being overwritten (BTW is it overwrite or append?):
- `last_client_campaign`
- `client_to_user_mapping`
- `meta_event`

[2020-06-29 13:08] DaimonPl commented on #738
meta_event, only overwrites

[2020-06-29 13:08] wajda commented on #743
Response code `0` means `no connection`
Make sure http://spline:9090/consumer/execution-events is accessible

[2020-06-29 13:14] wajda commented on #738
So what are the rest two URIs? As you can see according to the graph only two of three executions read from `meta_event` and only one of them (**Jc**?) overwrites it. It doesn't seem to correspond to those Ja, Jb, Jc?

[2020-06-29 13:17] DaimonPl commented on #738
Other Uris used by job, but they shouldn't be root cause

[2020-06-29 13:28] wajda commented on #738
I'm not looking for a root cause for now, just trying to understand the dependency pattern. What you describe doesn't really correspond to what Spline shows. To be able to improve the query I need to understand your jobs better and replicate a similarly structured graph on my env.

[2020-06-29 13:28] ankit302 commented on #743
hi @wajda , do you any issue with passing env for;

name: spline.consumer.url
value: http://spline:9090/consumer

DO you have any idea , how it supposed to be configured in K8s, below is my service config.

apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.21.0 (992df58d8)
  creationTimestamp: null
  labels:
    io.kompose.service: spline

[2020-06-29 13:32] DaimonPl commented on #738
Root cause of dependency explosion is that text pattern I sent.

Full dependency pattern is visible on both screenshots I don't know if it can be made any simpler if you want all dependencies

[2020-06-29 13:34] ankit302 opened #744 "Spline Web UI- "ERROR Server returned code: 0. Http failure response for http://spline:9090/consumer/execution-events""
## Describe the bug
While accessing Spline web UI - getting server retured code:0 https failure response.

## Versions
spline version 0.5.3 ( Docker latest image tag )
arnagoDb version 3.5.1 ( Docker latest image tag )

## Components State
- [ Yes ] ArangoDB running without errors
- [ Yes] ArangoDB spline database initialized
- Rest Gateway running and
  - [YES ] connects to ArangoDB
  - [ YES] th

[2020-06-29 13:37] wajda commented on #738
This is the point - I don't see a correlation between the text and the screenshot. To me the real pattern seems more complex than you described. But nevermind, I'll try to take it from there.

[2020-06-29 13:41] wajda commented on #743
I believe your config is fine. Just make sure that the URL you pass to the `spline.consumer.url` is visible from the host on which you access Spline UI. This URL isn't accessed from the server, but directly from the client browser.

[2020-06-29 13:44] wajda commented on #744
Answered here - https://github.com/AbsaOSS/spline/issues/743#issuecomment-651109409

[2020-06-29 13:49] DaimonPl commented on #738
I think you can safely narrow it to this scenario, other dependencies are rather normal

1st run (Ja, Jb, Jc are 3 exec plans of job J):

[code]

2nd run:

[code]

3rd run:

[code]

I won't try 4th run but that's the explosion caused by subsequent job runs :)

So it's not single dependency graph pattern. It single job pattern which explodes when job is run multiple times. That job is run hourly so

[2020-06-29 14:11] ankit302 commented on #744
Hi @wajda ,

when i'm trying to access the endpoint (http://spline:9090/consumer/execution-events), getting below logs in

13:26:06.868 [http-nio-8080-exec-1] INFO  o.s.web.servlet.DispatcherServlet - Completed initialization in 94 ms
13:43:10.968 [http-nio-8080-exec-3] WARN  o.s.web.servlet.PageNotFound - No mapping for GET /consumer
13:44:43.722 [http-nio-8080-exec-4] WARN  o.s.web.servlet.PageN

[2020-06-29 14:18] DaimonPl commented on #738
I also think that it's not a bug itself - this dependency pattern behaves this way and we cannot change it. Things which can be done here for sure:

- reporting only first run instead of each run - that what we did and it's enough for lineage pourposes
- configuring default depth (that's what I was asking already)
- stop graph traversal after some node / edge limit - though I don't know if this wo

[2020-06-29 15:00] wajda commented on #738
++
- memoize the recursive function to avoid repetitive path traversing
- offload some computation from the UDF to AQL to avoid overhead on converting data structure to/from V8, potentially hit some indices and/or execute it on sharded data nodes instead of a coordinator.
- pre-link the nodes with additional edges to shift some computation from the request-time to the background and don't repeat i

[2020-06-29 15:03] wajda commented on #744
try http://spline:9090/consumer/execution-events

[2020-06-29 17:50] ankit302 commented on #744
Hi @wajda ,

I even tried to setup on docker environment, with the latest version of spline, arangodb image from docker hub, But issue persist.

It appears to be an issue with the image;

Used docker compose file from github;
https://raw.githubusercontent.com/AbsaOSS/spline/develop/docker-compose.yml.

ankit@dockervm:~$ sudo docker ps -a
CONTAINER ID        IMAGE                        COMMAND

[2020-06-30 07:50] wajda commented on #744
You are trying a wrong URL

http://localhost:8080/consumer -- this resource does not exist
http://localhost:9090/consumer/execution-events -- this one does

[2020-06-30 09:07] dhiraj-raj commented on #744
Hi @wajda  we tried this URL also i.e. http://localhost:9090/consumer/execution-events , but Spline-UI shows same error message as indicated above.

[2020-06-30 09:49] wajda commented on #744
I have answered it about 3 times already - the consumer REST API URL has to be accessible from the client browser. If Spine UI says "Code 0" it mean it cannot connect to that URL. Please double check your Spline setup.

[2020-06-30 14:39] wajda commented on #738
Two questions:
- which exact ArangoDB version are you using?
- which Spline Admin CLI version did you use to create/upgrade the Spline db?

[2020-06-30 14:44] wajda commented on #738
I tried 30 level nested graph and the UI responded in less than a second:
![image](https://user-images.githubusercontent.com/795479/86140116-cb109380-baf0-11ea-9e62-8115c1e637d7.png)

Have you seen this popup on your UI?

[2020-06-30 14:46] DaimonPl commented on #738
Arango 3.6.4
Spline 0.5.3

Note that detailed lineages are huge for my case, maybe it's connected? Huge graph with huge detailed lineages

[2020-06-30 14:53] wajda commented on #738
it shouldn't matter, the overview query doesn't touch the detailed lineage nodes.

[2020-06-30 14:56] DaimonPl commented on #738
And this https://github.com/AbsaOSS/spline/issues/720 ? Schema is quite big (maybe 100 fields in nested structs)

[2020-06-30 15:05] wajda commented on #738
As long as it makes into the DB it's OK. The overview query only depends on the data pipeline high-level structure in terms of reads, writes and data sources.

[2020-06-30 15:12] DaimonPl commented on #738
So maybe additional data sources. As you can see on screenshots each of those "explosive" nodes has 10 other input sources

[2020-06-30 15:44] wajda commented on #738
It's rather the number of non-terminal sources read by every execution. This what makes the base of the exponent. I was able to flood my local setup with 4<sup>10</sup> kind of query

[2020-06-30 17:17] ankit302 commented on #744
HI Wajda,

i understand that, URL is not accessible from splineUI.

we have used same Dockercompose file to run spline WebUI, rest server & arangodb without any modification.
https://raw.githubusercontent.com/AbsaOSS/spline/develop/docker-compose.yml

Do you see ant issue with config parameters in docker compose file ?

Does any one else facing similar issue ?

[2020-06-30 19:24] wajda commented on #744
Ah, that's a new piece of info. Seems like an issue with the Docker. Just tried our `doker-compose.yml` and the 'spline' container appeared to have connection issues. Re-opening the issue, although I have doubts that it's related to Spline, rather to a Docker network config.

[2020-07-01 09:15] wajda commented on #744
I have just confirmed that it is indeed a particular docker setup issue that has nothing to do with Spline.
I've tested it on three PCs running Fedora, Ubuntu and MacOS, the same Dcoker version 19.03.8. Only on my Fedora PC I have this issue, on the other two laptops docker-compose run Spline with no issue, straight out of the box.
So please check your docker network configuration and consult with

[2020-07-01 09:15] #744 closed

[2020-07-01 09:28] #743 closed

[2020-07-01 12:05] wajda commented on #738
@DaimonPl can you please test this commit? fbb6ae5e883735f55850712de7ccc45eb1b820c5
It's enough to build it and run `java -jar admin-cli.jar db-upgrade ...`

In my setup it decreased the query time from 50 seconds to 95 milliseconds :)

[2020-07-01 12:20] DaimonPl commented on #738
@wajda is it possible to apply it directly on arango? It will be much easier on my env environment than preparing and deploying custom build

[2020-07-01 12:31] wajda commented on #738
You need to replace a UDF function. It is possible to do it directly, but hardly easier.
You need to call ArangoDB REST API or use arangosh.
- https://www.arangodb.com/docs/stable/http/aql-user-functions.html
- https://www.arangodb.com/docs/stable/aql/extending-functions.html

[2020-07-01 13:19] DaimonPl commented on #738
sending request with postman is 1000x easier and faster than preparing custom artifacts and deploying it on o puppet environment :)

i'll try to set it up and test tomorrow

as I understand it changes query only so it's not required to re-send lineages?

[2020-07-01 13:29] wajda commented on #738
That's right. No Spline re-deploy or the data change is required.

[2020-07-02 09:37] Imbruced opened #746 "List Applications which use given table."
## Question

Hi, Is it possible to list all the **application names** which are using given table/ hdfs location ? For example I have Hive table **test.table** and my goal is to show applications which using it.

### input

test.table

### expected result
[code]

[2020-07-02 10:51] wajda commented on #746
There is no such feature in the UI yet, but you can do it by querying ArangoDB directly
For example:
[code]

[2020-07-02 12:06] wajda commented on #738
changed caching method a bit and saved even more CPU.
40b360bd04df35815eb3599ceee0b6f62697d700
Now it copes quite OK with my somewhat extreme case - every job reads from 4 primary sources (each of which contains 10 appends from the previous executions of the same jobs) and overwrites one of them. It additionally reads 1 to 13 secondary sources at random. So in overall the average vertex degree in

[2020-07-02 13:05] DaimonPl commented on #738
Great, I'm still gathering lineage data on our side not sure if I'll manage to test it today

[2020-07-02 14:14] DaimonPl commented on #738
@wajda what should be function name in http post request? I tried `SPLINE::EVENT_LINEAGE_OVERVIEW` but it looks it created new function instead of repalcing previous one ?

[2020-07-02 14:20] wajda commented on #738
honestly I never registered UDFs directly :( Need to try first.

[2020-07-02 14:30] DaimonPl commented on #738
Ok I managed to do it, was missing `/_db/spline/` in URI

With your changes graph which was previously failing now displays "fine ;)"

![image](https://user-images.githubusercontent.com/9693936/86371588-5882ed80-bc81-11ea-9b93-47ca57279c32.png)

[2020-07-02 14:34] DaimonPl commented on #738
Next iteration as well

![image](https://user-images.githubusercontent.com/9693936/86371919-d21adb80-bc81-11ea-94a2-e2d259d59717.png)

[2020-07-03 06:09] Imbruced commented on #746
Thank you so much ! :)

[2020-07-03 07:01] pratapmmmec commented on #684
Thanks for responding. Do we have any tentative timeline for its release?

[2020-07-03 08:46] wajda commented on #684
We'll try to implement something simple in 0.5.4 which should be out in the course of the month. We are addressing performance bottlenecks in this release, so this feature logically fits here.

[2020-07-03 10:50] pratapmmmec opened #748 "Where can I find spline log file for client-web.war deployed on tomcat"
I am getting some error on UI while accessing attribute level lineage.

I am unable to find any logs related to spline under tomcat/logs directory. Do I need set some args explicitly for that?
Have attached screenshot of error for reference
<img width="1550" alt="Screenshot 2020-07-03 at 4 14 20 PM" src="https://user-images.githubusercontent.com/67417754/86462342-1ae99780-bd49-11ea-84ae-70e30089fb

[2020-07-03 12:16] cerveada commented on #748
client-web.war is only thin wrapper around angular application. What you should look for is log for spline gateway war. That's the server that is returning you 500.

[2020-07-12 12:41] deepaksekaranz opened #751 "Spark session issue in pyspark"
## Describe the bug
The simple pyspark file to write a dataframe to a file errors out with any version of spark other than 3.0

## Versions
Spline: 0.5
Spark: 2.4.0, 2.4.3, 2.4.6 (same error in every version)

spark-submit \
  --packages za.co.absa.spline.agent.spark:spark-2.4-spline-agent-bundle_2.12:0.5.3 \
  --conf "spark.sql.queryExecutionListeners=za.co.absa.spline.harvester.listener.SplineQu

[2020-07-13 04:15] uday1409 opened #752 "Spline motivation: Identification of performance bottlenecks"
How can we track performance using Spline?  Could you please elaborate on this how to identify in Spline UI

[2020-07-13 05:47] cerveada commented on #751
You may be using wrong Scala version. Which Scala version do you use?

https://stackoverflow.com/questions/54085459/nosuchmethoderror-org-apache-spark-internal-logging

[2020-07-14 03:42] sidp-dev opened #753 "Can't initialize Lineage Tracking"
## Background
Have all of the pieces set up, Spline web UI, ArangoDB.

Trying to run Spline with SBT/IntelliJ locally through a unit test and getting the below error:
20/07/13 20:20:11 ERROR SparkLineageInitializer$: Initialization failed! Spark Lineage tracking is DISABLED.
java.lang.ClassNotFoundException: za.co.absa.spline.coresparkadapterapi.SparkVersionRequirementImpl
	at java.net.URLClassLoa

[2020-07-14 07:33] cerveada commented on #753
Hello, version 0.3.x is not supported any more and will not work with ArangoDB anyway. Use never version - like 0.5.3.

Your program should depend only on Spline-Agent. Spline core/gateway should be running on tomcat and providing the producer and consumer APIs. It's all described in the documentation: https://absaoss.github.io/spline/

[2020-07-14 15:23] sidp-dev commented on #753
Thanks @cerveada . So scala and spark versions are as below in my build.sbt:
[code]
I'm sorry I'm getting a bit confused on how I should set up the right dependencies from this repo - https://github.com/AbsaOSS/spline-spark-agent

I currently have below:
[code]
Can you please help with the exact way to identify which version/bundle to use for my dependency above? Thanks so much in advance!

[2020-07-14 15:56] cerveada commented on #753
Well the 2.12 at the end of "agent-core_2.12" is the Scala version. I think in Sbt you don't have to write it like that it's handled by Sbt, but I use mainly maven, so I don't know Sbt that well.

At the end the all Scala versions must match in your project. Otherwise, it seems to be ok.

[2020-07-14 17:15] sidp-dev commented on #753
Thanks so much @cerveada. I have all the pieces set up and running without issues.
I ran my Spark test successfully but the Spline UI doesn't show anything.
I checked the ArangoDB UI in the collections as well of the Spline DB but they don't show any data.
Looking at the examples at this repo: https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.5.3/examples/src/main/scala/za/co/absa/splin

[2020-07-14 17:23] hugeshi commented on #699
I used the latest version(both spline agent and spline) and ran the same Spark application and tracked the lineage info to DB, when I get the attribute dependency , the backend always have this issue.
could you share with me your email. I can't post snippet code and ArangoDB debug package on github.

[2020-07-14 20:05] sidp-dev commented on #753
Never mind! I added a write to my test and the lineage now shows up. Please keep up the great work! Cheers!

[2020-07-14 20:05] #753 closed

[2020-07-15 03:13] hugeshi commented on #699
if you are not convenient to leave the mail, please contact with me through shihujie@gmail.com

[2020-07-15 08:16] cerveada commented on #699
I've sent you and email.

[2020-07-16 02:35] hugeshi commented on #699
Thanks for your response.

there are 4 files in the attachment.
arango_loadExecutionPlanAsDAG.sql    # arango sql to load executionPlan AS
DAG
arango_loadExecutionPlanAsDAG.json  # the upper sql's result
code_snippet.sql # our internal code , only one action operation. save data
to hive database. the syntax  is internal DSL building upon spark data
frame, the logic is to include/load a driver set

[2020-07-16 14:01] cerveada commented on #699
Sorry, I haven't received any email from you.

[2020-07-17 02:38] hugeshi commented on #699
sent, please help to check, thanks.

[2020-07-17 15:16] cerveada commented on #699
Thanks, now I got your email. I will take a look at the issue once I finish the ticket I'm currently working on.

[2020-07-20 01:18] ben050228 opened #755 "Pyspark write parquet python worker cannot connect back in time"
Hi there,

I have a dataframe generated from pyspark.sql.SparkSession locally. When I tried to save it as parquet format using the following code:

from pyspark.sql import SparkSession
spark = SparkSession.builder.getorCreate()

orig_dat = spark.read.parquet("my_orig_dat")
mydata = myfun(orig_dat)
mydata.write.mode('overwrite').parquet("file:///mypath/master")

The myfun is the pyspark code that I

[2020-07-20 06:22] cerveada commented on #755
Hello,

why do you think this is related to Spline?

[2020-07-20 13:37] wajda commented on #752
I assume you are talking about Spark job performance. Well, in short Spline offers somewhat limited options in that area, and we are rather speaking about future development. By design Spline can capture some execution metrics and store them in the execution event as an `extra' data - https://opensource.bigusdatus.com/spline/rest/docs/producer.html#operation/executionEventUsingPOST
That data can p

[2020-07-20 13:39] ben050228 commented on #755
Sorry I was very new to GitHub and I was putting the question to the wrong page. Thank you for the comment.

[2020-07-20 14:58] cerveada commented on #755
Ok, no problem. Since it's not a Spline question I am closing the ticket.

[2020-07-20 14:58] #755 closed

[2020-07-21 02:43] hugeshi commented on #699
could you share the rough time to deal with this issue?  we need to plan the following work to release a new jar.

[2020-07-21 11:13] wajda commented on #699
I'll try to give it a quick look today or tomorrow. Currently we're busy with the performance fixes in the 0.5 release branch, that should be ready some day next week. Can't promise anything right now as your case seems to be somewhat non-standard.

[2020-07-21 16:58] wajda commented on #721
Ref #741

[2020-07-22 10:31] #537 closed

[2020-07-22 10:34] #542 closed

[2020-07-22 11:46] wajda commented on #481
This should rather be done on the target environment. No code changes are required.

[2020-07-22 11:46] #481 closed

[2020-07-22 11:50] wajda commented on #460
related to #712

[2020-07-22 11:51] wajda commented on #410
closed in favor of #712

[2020-07-22 11:51] #410 closed

[2020-07-22 15:38] cerveada commented on #740
I identified and fixed two problems:

#### problem 1
sorting of lineages wasn't using an index efficiently - that caused mongo to run out of memory for sorting and throw:
[code]
The solution is to create an index.
[code]

#### problem 2
The migrator stopped on certain lineages and eventually the JVM run out of memory.
This was caused be a lineage containing operation with 20000 rows.
Those jobs we

[2020-07-22 15:46] wajda commented on #740
[code]

[2020-07-22 15:47] wajda commented on #740
and another one occurs often:

[code]

[2020-07-23 13:35] wajda opened #756 "Plugin API to support 3rd party connectors, relations etc."

[2020-07-23 15:45] cerveada commented on #740
#### problem 3
[code]
This was cause but non-standard data source (Cobol) with missing data source URI. Unfortunately the URI is required in Spline 0.4+.
Spline was probably able to capture the lineage, but it hadn't known CobolRelation datasource so it used some generic logic to save it without URI.

I solved the problem by assigning artificial URI to all Cobol operations in the mongo database.
[

[2020-07-28 02:00] hugeshi commented on #699
feel free to contact with me  if you need additional info,I'll try my best to support.

[2020-07-28 11:55] cerveada commented on #740
#### problem 4
[code]

This seems to be a problem or bug directly in ArangoDB. I created a ticket for it:
https://github.com/arangodb/arangodb/issues/12304

[2020-07-28 14:48] wajda commented on #699
thanks, we'll certainly do. Please give us some time as we've been buried with other stuff recently.

[2020-07-28 14:50] wajda commented on #699
And could you please change the icon? lol :)))

[2020-07-29 08:39] pravindhurve opened #757 "Spline not generating lineage on Azure Databricks"
Hi,
I am referring this tutorial [https://deep.data.blog/2019/03/25/spark-job-lineage-in-azure-databricks-with-spline-and-azure-cosmos-db-api-for-mongodb/].
Below jars are installed on my Azure Databricks cluster (Apache Spark 2.4.5, Scala 2.11) using Maven co-ordinates.
_za.co.absa.spline:spline-core:0.3.9
za.co.absa.spline:spline-core-spark-adapter-2.4:0.3.9
za.co.absa.spline:spline-persistence-

[2020-07-29 11:47] cerveada commented on #699
I see there is a problem in `arango_loadExecutionPlanAsDAG.json` operations 10, 11 and 12. It's really the same thing I already described few comments earlier.

This is cause probably by lines 23 - 27 in `code_snippet.sql`.

If you look on lineages generating from native Spark operations, the ids in `outputSchema` are either the same as in previous operation (that means the column haven't change i

[2020-07-29 11:56] cerveada commented on #699
So I see two possibilities now:

#### 1) lineage generated form your internal DSL is not "Spark like"
  In that case you should change the DSL implementation, so it generates the lineages more aligned with spark.

#### 2) we are somehow handling the lineage wrong
In that case I will need some runnable code that generates the issue so I can debug the actual executionPlan returned by Spark Listener

[2020-07-29 12:01] cerveada commented on #757
Hello,
the lineage is stored only after write in Spark.

Spline 0.3 is old version that is not supported any more, unless you have good reasons you should probably use the latest version. documentation:  https://absaoss.github.io/spline/

[2020-07-29 18:59] pravindhurve commented on #757
Hi,
I am attempting a quick demo on Azure, hence the old article. Thanks for the 'write'reference. Now I can see the documents generated in CosmosDB. But there seems to be a version issue Spline web client. I have deployed "client-web-0.5.3.war" to Azure App Service and it doesn't seems to support mongodb url. I am getting error -> java.net.MalformedURLException: unknown protocol: mongodb.

Can yo

[2020-07-29 19:39] wajda commented on #757
**0.3.9** is the last Spline version of that architecture kind. More recent Spark versions (**0.4.0+**) are not compatible with it.

Regarding the exception during parsing Azure Cosmosdb connection string: please make sure you escape special characters correctly (especially if you include password in a connection string) - (https://docs.mongodb.com/manual/reference/connection-string/#examples):

[2020-07-30 08:54] pravindhurve commented on #757
Hi,
Thanks for the reference, but still getting the exception in parsing. My connection string options are "_?ssl=true&replicaSet=g
lobaldb&retrywrites=false&maxIdleTimeMS=120000&appName=[appname]_"
This is the exception -
_Caused by: java.lang.IllegalArgumentException: The connection string contains an invalid option 'ssl'. 'ssl' is missing the value delimiter
eg 'ssl=value'_
Is there any solutio

[2020-07-30 10:46] wajda commented on #757
Try with the normal _WAR_-file instead of the executable _JAR_. It seems to be an issue with that particular container that is created with an ancient Tomcat 7 Maven plugin.

[2020-07-30 12:30] pravindhurve commented on #757
Hi,
Tried with "client-web-0.5.3.war", but it seems to be incompatible with the setup, especially mongodb. Please check my second reply on this thread. I had requested for web client war for version 0.3.9.
_Can you please help me with web client war for version 0.3.9?_

Thanks.

[2020-07-30 12:42] wajda commented on #757
What help with WAR do you need? It's a standard WAR-file. Deploy it to a Tomcat or any other J2EE-compatible web container.

[2020-07-30 14:38] pravindhurve commented on #757
Hi,
I had already deployed "client-web-0.5.3.war" to **Azure Web Service** where I got this error -> _java.net.MalformedURLException: unknown protocol: mongodb_. And as I understand 0.5.3 version does not support mongodb. Hence requested for old "web client war for version 0.3.9". Can you please point me to the web client WAR which works with mongodb?
Thanks,

[2020-07-30 15:09] wajda commented on #757
WAR-file - https://repo1.maven.org/maven2/za/co/absa/spline/spline-web/0.3.9/spline-web-0.3.9.war
And the doc - https://absaoss.github.io/spline/0.3.html

[2020-08-03 06:54] pravindhurve commented on #757
Thanks for the WAR. I have deployed it to the Azure App Service and able to start the Spline web application dashboard. Though the dashboard has loaded the welcome page but it is stuck at the "loading, please wait" on the left-hand side menu. Found below issues in the logs **"Errors":["The order by query does not have a corresponding composite index that it can be served from."]**
Detail logs for

[2020-08-03 08:29] wajda commented on #757
Never run into this before. Missing index should normally only affect the app performance, but not prevent it from working.
By default Spline doesn't create any indices in the database.
Assuming you started from a fresh database, try to add the following indices and see if it helps:
[code]

[2020-08-04 15:58] wajda commented on #721
Depends on arangodb/arangodb-java-driver#353

[2020-08-05 09:44] hugeshi commented on #699
for 1, internal DSL is build mix with spark sql, the lines 23 -27 is spark function "Add row number to DataFrame", it should not be the issue of DSL implementation.
for 2, sorry for that, I can't share the runnable code, I will try to debug the executionPlan. can you give some tips or potential root cause?

[2020-08-05 15:23] cerveada commented on #699
Well the one thing to try first would be to check out how LogicalPlan actually look. If the cycle is there as well or not. Spline agent is capturing the Spark LogicalPlan and then transforms it to more framework neutral lineage format and send this to the gateway.

So if you run the agent in your IDE debug mode you can put a breakpoint on line 78 in following file:
https://github.com/AbsaOSS/splin

[2020-08-05 15:26] cerveada commented on #699
There is also new Spline version 0.6 coming, that will have improved data model that will capture the lineage information better. It may or may not fix this issue, but it will take few months before it arrives. We are still working on the version 0.5.

[2020-08-06 02:24] hugeshi commented on #699
Thanks for sharing this message

[2020-08-10 08:08] wajda commented on #699
removed milestone assignment due to ongoing investigation.

[2020-08-10 08:21] wajda commented on #740
it doesn't seem to require any Spline code change so far. The only remaining issue seems to be caused by the size of the lineage document. We don't see any feasible workaround so far and are rather waiting for the aforementioned Arrangodb issue resolution.

To proceed with the migration we could either:
1. Get rid of those remaining large lineages as unimportant, or
2. Wait for Spline 0.6+ with th

[2020-08-10 09:44] wajda commented on #739
Will be implemented in #684
Closing the issue.

[2020-08-10 09:44] #739 closed

[2020-08-10 09:47] wajda commented on #684
Solution:
1. Add a command to the Admin CLI to remove the lineage data before older than given date.
2. Add an option to the Gateway to do the same thing periodically based on a provided cron expression.

[2020-08-17 14:54] wajda opened #760 "java.lang.ClassNotFoundException: scala.reflect.io.JavaToolsPlatformArchive"
On behalf of @lokm01

spline 0.5.3
AdoptOpenJDK 8 [1.8.0_222]
2.11.12 / 2.12? -- **TBD**

[code]

POM

[code]

[2020-08-17 17:03] wajda commented on #684
After the second thought I realized that having CLI command for removing old data makes it unnecessary to make it a Spline Server responsibility. System cronjobs can be used instead to simply run `java -jar admin-cli.jar db-prune ...`

[2020-08-18 11:29] wajda opened #761 "ArangoDB: Errors in a cluster environment"
[code]

from the ArangoDB [docs](https://www.arangodb.com/docs/stable/aql/operations-with.html)

[2020-08-18 11:29] wajda commented on #761
@lokm01

[2020-08-18 12:17] lokm01 commented on #761
Thanks 👍

[2020-08-18 16:15] wajda commented on #761
@lokm01 could you please try the above PR? DB re-creation is required.

[2020-08-19 08:11] lokm01 commented on #761
So this loads the lineage list, but fails to load the lineage overview, see:

`2020-08-19T08:58:38.927+02:00 | 06:58:38.927 [http-nio-8080-exec-9] ERROR z.c.a.s.common.logging.ErrorCode$ - ErrorCode(144120c9-4ffc-4aae-9f09-4aced4317111)
  | 2020-08-19T08:58:38.927+02:00 | java.util.concurrent.CompletionException: com.arangodb.ArangoDBException: Response: 500, Error: 1583 - AQL: in function 'SPLINE

[2020-08-19 08:19] omennemo commented on #751
I am facing almost exactly the same issue.
Spark Version : 2.3
Spline : 0.5
Scala : 2.12

[code]

[2020-08-19 08:46] #594 closed

[2020-08-19 10:16] wajda commented on #761
Seems like we have to find an alternative to AQL UDFs - https://github.com/arangodb/arangodb/issues/11271

[2020-08-19 17:00] pratapmmmec opened #764 "Explicitly capturing lineage for provided SQL"
## Background
Our workloads are mix of Spark and Hive. Spline is great in capturing Spark lineage but end lineage breaks the moment we have a Hive job (SQL).

## Question
Is there a way to provide an API which accepts SQL ("Spark compatible") in spark-agent or even an end point in rest-gateway and harvests and capture lineage out of that SQL. I do understand that it will require an explicit call b

[2020-08-19 18:26] wajda commented on #761
[Foxx microservices](https://www.arangodb.com/docs/stable/foxx.html) seems to be a solution. We need to replace our UDFs with a Foxx service.

[2020-08-20 07:50] omennemo commented on #695
The docker-compose that is in the guide on GH pages is not the same as the updated one. The documentation probably needs an update as well

[2020-08-20 17:09] wajda commented on #761
FYI - https://github.com/arangodb/arangodb-java-driver/issues/357

[2020-08-20 17:15] #738 closed

[2020-08-20 17:15] #741 closed

[2020-08-20 17:15] #721 closed

[2020-08-24 14:58] ASchwad opened #765 "documents_spline_1 exited with code 6 when running docker-compose up"
## Describe the bug
When i run docker-compose up with the suggested docker-compose.yml, `documents_spline_1` exits with code 6 and i cannot track the Lineage. If i try to restart the failed `documents_spline_1` container, it stops right away again.
The UI is running fine and gets the following error: `GET http://localhost:9090/consumer/execution-events?sortOrder=desc&sortField=timestamp&pageNum=1&

[2020-08-24 15:22] cerveada commented on #765
It looks like that yaml file was not updated, try to use the one in developer branch:
`https://raw.githubusercontent.com/AbsaOSS/spline/develop/docker-compose.yml`

[2020-08-25 07:16] ASchwad commented on #765
Thanks for the quick reply!

With your changes, i get a different behaviour. Now the arangodb is having problems. This is the error log when I run `docker-compose up `

`spline_1    | waiting for arango db
arangodb_1  | 2020-08-25T07:05:50Z [1] INFO [e52b0] ArangoDB 3.7.1 [linux] 64bit, using jemalloc, build tags/v3.7.1-0-gdd98295dcc, VPack 0.1.33, RocksDB 6.8.0, ICU 64.2, V8 7.9.317, OpenSSL 1.1.

[2020-08-25 07:41] ASchwad commented on #765
@cerveada  Thanks for your quick reply!

When running your suggested setup, the container seems to fail in this step:
[code]

[2020-08-25 07:54] cerveada commented on #765
The database error: Is it possible that you left the old arango container in docker and that caused the incompatibility?
Have you called `docker-compose down`? Before using the new config?

[2020-08-25 08:23] ASchwad commented on #765
Yes, I deleted the old container. I think this is a network issue at my company and not Spline related. The documents_spline_1 does not seem to be able to run
`curl -O -s https://repo1.maven.org/maven2/za/co/absa/spline/admin/${SPLINE_VERSION}/admin-${SPLINE_VERSION}.jar -4` due to missing firewall and proxy settings.

[2020-08-25 11:32] #765 closed

[2020-08-30 05:35] amitguptaddn opened #766 "Error while setting up Spline Server: java.net.MalformedURLException"
## Question
I am setting up Spline Server in local using instructions on this link: https://absaoss.github.io/spline/

Under section "Start Spline Server", I am using second option - "Java compatible Web-Container (e.g. Tomcat)"

Question: Please suggest where exactly to add the Arango connection string:
Add the argument for the ArangoDB connection string
`-Dspline.database.connectionUrl=arangodb:

[2020-08-30 05:36] amitguptaddn commented on #766
Additional dependencies added in the pom.xml are below:

        <dependency>
            <groupId>com.arangodb</groupId>
            <artifactId>arangodb-java-driver</artifactId>
            <version>6.6.3</version>
        </dependency>
        <dependency>
            <groupId>com.arangodb</groupId>
            <artifactId>velocypack-module-scala_2.12</artifactId>
            <version>1.2.0</ve

[2020-09-02 09:00] wajda commented on #540
Probably. The work on 0.6 has been suspended for the last month or so due to performance issues found in 0.5.3 that affect some production usages and had to be addressed. We'll have another round of 0.6 planning somewhere next week and clarify on this issue.

[2020-09-02 09:06] wajda commented on #766
You don't need `:` symbol after the username if your password is empty. Use `arangodb://root@localhost:8529/spline`

[2020-09-02 14:19] pratapmmmec commented on #748
Thanks @cerveada . I was able to find logs for spline gateway war. Had forgot to close it. Doing it now

[2020-09-02 14:37] pratapmmmec commented on #540
Thanks for confirming @wajda . Fingers crossed for this epic.

[2020-09-02 14:55] wajda commented on #748
@pratapmmmec from your screenshot above I see that you have a quite complex execution plan. Can I ask you for a favor? Could you  possibly share a job that generates such plan? It would serve as a pretty much interesting test case for us to tune the graph view and other aspects of the Spline UI. If it's a commercial closed code then perhaps you can share a sanitized version of it (renamed attribut

[2020-09-03 10:16] hugeshi commented on #699
I debugged the harvester logic of spark agent, I found the root cause of this issue.
**Symptoms**
existing the cycle dependency when build the attribute lineage.

**Code snippet:**

pst_cntct1=SELECT a.*,ROW_NUMBER() OVER (PARTITION BY a.workitem_id ORDER BY a.seg_beg_utc_ts ASC) as row from pst_cntct0 a;
pst_cntct2=select a.* from pst_cntct1 a where row=1;

problem operations of other type in exe

[2020-09-03 10:48] wajda commented on #699
nice!

[2020-09-08 17:25] pratapmmmec commented on #748
@wajda Considering company policy, I can't share the SQL as is. I am yet to hear from my org's Open Source Group on masking columns and table names in SQL and sharing here. Give me couple of days and I will confirm. Hopefully it should not be a problem

[2020-09-08 21:13] mevivs opened #767 "Unable to start pyspark shell using spline bundle jar with 0.5.4 version"
## Describe the bug
Was following https://absaoss.github.io/spline/- Section Getting started. While running
pyspark \
  --packages za.co.absa.spline.agent.spark:spark-2.4-spline-agent-bundle_2.12:0.5.4 \
  --conf "spark.sql.queryExecutionListeners=za.co.absa.spline.harvester.listener.SplineQueryExecutionListener" \
  --conf "spark.spline.producer.url=http://localhost:9090/producer"

## Versions
0.

[2020-09-09 03:09] mevivs commented on #767
version mismatch issue. able to run now.

[2020-09-09 03:09] #767 closed

[2020-09-09 06:46] rajasekharreddyparvatha opened #768 "getting errors when we build the client-ui module with help of Angular-CLI"
## Background [Optional]
Downloaded the client-ui module of the spline project to understand code to solve my business problem.

## Question
getting errors when we compile the client-ui project with help of Angular-CLI, below command i have used to compile it :

step 1 : **ng build**

not able to find a couple of source code files in client-ui of spline repo,

Errors are :
[code]

[2020-09-09 09:21] wajda commented on #768
You are missing generated sources. Run the full project build at least once to generate the stubs, after that you can build `client-ui` along.

Run from the project root directory:
[code]

[2020-09-09 09:25] wajda commented on #768
Also take a look at our new UI that we are working on - https://github.com/AbsaOSS/spline-ui

[2020-09-09 10:45] rajasekharreddyparvatha commented on #768
thank you for an instant reply, i will dig more in new spline-ui

[2020-09-09 10:48] rajasekharreddyparvatha commented on #768
@wajda  , what is the best way to insert the custom component which is written in react  into  existing spline-ui,

[2020-09-09 17:19] wajda commented on #768
Spline UI is an Angular application. Quick googling gave me this:
- https://sdk.gooddata.com/gooddata-ui/docs/4.1.1/ht_use_react_component_in_angular_2.x.html
- https://medium.com/@zacky_14189/embedding-react-components-in-angular-the-easy-way-60f796b68aef

[2020-09-15 08:49] cerveada opened #770 "Window node fails to display transformations"
Generate lineage using this code (you can copy and modify WindowFunctionJob to do this):
[code]

The window node is then causing this issue on UI:
[code]

[2020-09-17 07:58] wajda opened #771 "Admin CLI: add option to change logging level"
A user should be able to change the logging level of the `AdminCLI` tool via the command line option.

[2020-09-17 08:09] wajda opened #772 "Admin CLI: Foxx services aren't installed when executing a JAR-file"
`java -jar admin-cli.jar db-upgrade ...` performs the migration as expected but the Foxx services aren't installed. No errors.

Related to #763

[2020-09-17 09:42] pratapmmmec commented on #748
@wajda Just to keep you posted. It might take another week or so as it needs to go through few levels of approval.

[2020-09-17 10:07] wajda commented on #748
Sure, no rush :) Thanks for the info.

[2020-09-18 09:12] #771 closed

[2020-09-18 09:12] #772 closed

[2020-09-18 09:12] #761 closed

[2020-09-18 11:06] #770 closed

[2020-09-21 07:19] uday1409 opened #776 "Support for Spark 3.0"
## Feature
can you publish spark-agent-core_2.12 with spark3.0 support

[2020-09-21 08:33] wajda commented on #776
This ticket already exists - AbsaOSS/spline-spark-agent#93
It's on our roadmap although is not a priority for us at the moment.
Help is welcome.

[2020-09-21 08:35] #776 closed

[2020-09-21 12:56] wajda opened #777 "Multi-module Foxx services"
Foxx service installation procedure should support services comprised of multiple files and directories. Installation should be done via sending a ZIP-file.

[2020-09-21 13:02] pavanbv25 commented on #570
Hi All,

Is there any progress on this open ticket. We are financial service company, deployed spline and atlas both for our usage. Now we are planning to integrate both, if there is any help or work which has been done then please let us know. At present we are planning to extract spline data from its API and push it to atlas though it's API/Kafka topic, now we have couple of confusion while doin

[2020-09-21 14:30] wajda commented on #570
Hi @pavanbv25,
Spline and Atlas use completely different data models, so yes, you need to write a custom converter.
So far we have no plans to work on this feature anywhere soon. I'd prefer Atlas integration to be implemented as an external project, e.g. an extension to the Spline Spark Agent or a separate service pulling from a Spline databse or (better) Spline Consumer API. The later is still in

[2020-09-21 15:35] pavanbv25 commented on #570
Hi @wajda

Thanks for your quick reply. Yes our code is ready which pulls data from spline consumer API, what we are confused is mapping between spline entity with the atlas custom entity. For example,  we have transformation in spline, this should be mapped to which entity in atlas(for custom entity which should be super type. ) how do we decide this combination. ?

[2020-09-21 16:00] wajda commented on #570
I cannot answer your question, but I can suggest you to take a look at our earlier Spline Altas connector developed by @mn-mikke. It's not directly compatible with the current Spline version, but the idea and models are somewhat similar, both uses the same concept of _operation_. Hopefully it will help.
https://github.com/AbsaOSS/spline/tree/release/0.3.9/persistence/atlas

[2020-09-21 16:11] #777 closed

[2020-09-22 17:01] wajda opened #781 "/producer/execution-events/ should return 400 if one of events refers a non-existing execution plan"
viz. subject

Currently 404 is returned

[2020-09-22 17:10] #781 closed

[2020-09-23 03:22] uday1409 opened #783 "Facing issues with spline 2.12"
## Describe the bug
Lineage is not captured and throwing error that spark context is stopped. below is the error. Can  you please help me where it is going wrong

20/09/23 03:13:58 ERROR DatabricksMain$DBUncaughtExceptionHandler: Uncaught exception in thread spark-listener-group-shared!
java.lang.NoSuchMethodError: org.json4s.Formats.$plus$plus(Lscala/collection/Traversable;)Lorg/json4s/Formats;

[2020-09-23 08:38] wajda commented on #783
Seems like `json4s` library incompatibility.
Are deploying the Spline agent as a pre-built bundle or you create your own assembly?
What Spark version are you using?

[2020-09-23 15:30] wajda commented on #684
The issue is blocked by arangodb/arangodb#12693

[2020-09-23 15:53] wajda opened #784 "Remove redundant "--timeout" option"
In most cases the admin tool will wait for the internal threads to finish anyway. And logically, taking the Admin CLI purpose into account there is no reason for the user to prefer the command to break on timeout - there is no benefit in that. The operation has to be done, no matter if it takes a second or a day. Alternatively it can always be stopped by interrupting the process.

[2020-09-23 16:23] wajda commented on #684
Moving it to 0.6.0 as it most likely needs to wait until the ArangoDB issue is resolved.

[2020-09-24 17:19] Anupam0004 commented on #682
Hello
I have used the following approach:
1. In Azure VM I have run the docker-compose.yml
2.In Azure Databricks I have installed the fat jar file, set properties for the listener and producer url (using vm ip) and then run some spark jobs.
can u please tell me how to see the captured lineage?

[2020-09-30 15:44] ashishmgofficial opened #787 "Spline not starting with EMR Jupyter Notebook (Livy)"
Trying to test spline in EMR.  Spline works fine in EMR terminal with Pyspark shell but when tried out from Jupyter notebook from EMR which uses livy, getting following error

[code]

[2020-09-30 15:56] wajda commented on #787
Are you sure it's because of Spline? I don't see any Spline class listed in the stack trace above.
The error resembles binary incompatibility between Scala libraries and some dependencies in your classpath.
Please check your dependency tree.

[2020-09-30 17:02] ashishmgofficial commented on #787
As I specified, Spline works perfectly fine inside EMR spark shell, so scala dependency shouldn't be a issue. This is happening due to livy. Is there something I need to to get it working with livy?

[2020-09-30 18:29] wajda commented on #787
Googling the error message gave me a number of similar issues people have with LIvy. In majority of cases it turned out that they were using either wrong Java version (e.g. 9 instead of 8) or incompatible Scala libraries. Please check JVM ver and Scala ver used by Livy, the Spark and make sure they are aligned with ones of your Spline bundle.

[2020-10-01 07:56] cerveada commented on #740
**problem 4**

According to Arango team this is not a bug, but simply ArangoDB limitation. It doesn't support more than 63 levels of nesting.

[2020-10-01 08:29] wajda opened #788 "Reduce nesting in the persistent model."
Due to ArangoDB limitation of 63 levels of nesting we should strive to somewhat flat the document structure. At least we need to make sure that our schema makes it practically unlikely for the documents to reach the 63 level limit.

See https://github.com/AbsaOSS/spline/issues/740#issuecomment-701960905

[2020-10-01 08:39] wajda opened #789 "Execution plan ID watermark on Operation vertices and edges"
When dealing with execution plans we almost always query the whole thing with all related operations. Since they are stored as separate vertices the graph traversal is involved which makes such queries relatively slow. From the performance perspective it would be beneficial if we store an execution plan ID in every vertex and edge that form an execution plan DAG. So we could use a document query w

[2020-10-01 08:43] wajda commented on #740
So I think we can close it then. There is nothing we can do about it in Spline 0.5.
I've created a remediation ticket #788 for the next major Spline release.

[2020-10-01 09:16] #740 closed

[2020-10-06 06:07] pavanbv25 commented on #34
Is there any progress on this open issues. Actually we want to showcase lineage to only authorized person of specific project. How can we achieve this. Is there any progress on oauth2 implemention. ?

[2020-10-06 09:18] wajda commented on #34
No, we don't have any plans to implement any kind of security at the Spline core level. It can be added on top of Spline using other mechanisms, like a reverse proxy for instance.
For authorization purposes you can add some metainfo (e.g. via your custom [UserExtraMetadataProvider](https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/extra/User

[2020-10-06 09:18] wajda commented on #34
No, we don't have any plans to implement any kind of security at the Spline core level. It can be added on top of Spline using other mechanisms, like a reverse proxy for instance.
For authorization purposes you can add some metainfo (e.g. via your custom [UserExtraMetadataProvider](https://github.com/AbsaOSS/spline-spark-agent/blob/develop/core/src/main/scala/za/co/absa/spline/harvester/extra/User

[2020-10-08 08:29] cerveada commented on #114
![20200520_100021](https://user-images.githubusercontent.com/5530211/95434098-27394e00-0951-11eb-8963-f25003a05d66.jpg)

[2020-10-08 09:12] vidma commented on #114
a few points to note from our experiences at Kensu Inc.

you might want consider a few interesting special cases when part of lineage maybe need to be provided semi-manually, e.g.:
- semi-manual lineage for UDFs, UDF can be matched by `ScalaUDF.function.getClass.getName`:
  - extra UDF inputs that are local files (e.g. H2O predict via spark pipelines)
  - optional annotations for lineage inside UD

[2020-10-12 10:49] wajda opened #790 "Show a warning when ArangoDB version is less than 3.7.3"
Due to a [bug](https://github.com/arangodb/arangodb/issues/12693) fixed in Arango 3.7.3 we should switch to that version as a default one for Spline.
We also need to show warning when
[code]

[2020-10-13 10:11] wajda opened #791 "Attribute lineage: Dependency from aggregation expressions to preceding selection operations"
In the following pseudo query, output attribute `b` should depend not only on `a`, but also on `c` and `g` even though they are not directly present in `b`'s AST.

[code]

[2020-10-14 18:34] wajda opened #792 "Swallowed NPE in the integration tests"
[code]

[2020-10-20 10:19] mohanajuhi166 opened #793 "Introduce an AffectsDataSrc And DependsDataSrc Endpoint"
## Background
We have the existing collections - dataSource and executionPlan in **arangodb** collections. There is a small opportunity to introduce a minor feature, which can provide us the information on - which dataSources are affected and on which datasources its is dependent.

## Feature & Proposed Solution
We have two ways of doing it -

**Option 1**
We can create a new graph called affectsG

[2020-10-20 14:56] pratapmmmec commented on #677
@wajda Wanna check if this model will give us the capability to build forward lineage in future without need of tweaking persistence model again. If yes, then I am assuming we only need to build API and UI to enable forward lineage in Spline.

[2020-10-20 14:56] wajda commented on #793
Hi @mohanajuhi166,
Let me understand your proposal. You said the goal is to track the dependencies between execution plans and data source, and for that you propose to introduce another graph. How are your edges would differ from existing `depends` and `affects` edges that have the very same purpose?

[2020-10-20 15:05] wajda commented on #677
This is still a work-in-progress feature, but yes, we are going there.
Spline 0.6 will come with a attribute level lineage support on the persistent model level. It should give a solid tool to create/query  different representation of linage with different level of details depending on the use-case.
We'll also change Consumer API accordingly to expose those new abilities over the REST API and subs

[2020-10-20 15:35] mohanajuhi166 commented on #793
Hi @wajda , thanks a lot for replying. I tried the option 1 (creating a graph) to use pruning condition and potentially a run time complexity reduction but I am not very sure of the same.

I would like to propose the option 2 - which is introducing two endpoints. to provide the information on dependant and affected workflow. This includes a repository implementation with calling query inside **con

[2020-10-21 00:11] wajda commented on #793
That makes sense.
Let's use the following resource URLs:
-  `/execution-plans/{plan_id}/data-sources` -- a collection of _data sources_ directly associated with the given _execution plan_
-  `/data-sources/{ds_id}/execution-plan-ids` -- a collection of the _execution plan_ IDs directly associated with the given `data source`.

Both resources could be further filtered by the _access type_. i.e. rea

[2020-10-21 10:03] mohanajuhi166 commented on #793
thanks @wajda , I will make the necessary changes. Do I need to do anything more to raise a PR?

[2020-10-21 10:08] mohanajuhi166 commented on #793
Implemented the following function inside executionPlanRepositoryImpl

[code]

[2020-10-21 10:45] wajda commented on #793
Please go ahead and create a PR. One of our team members will review it.

[2020-11-02 07:50] adamdec opened #795 "Apache Atlas persistence in 0.5.x versions"
## Question
Are there any plans to add Apache Atlas persistence in 0.5.x versions (and on going)?

[2020-11-02 08:16] cerveada commented on #795
No, please read the following comment for details: https://github.com/AbsaOSS/spline/issues/279#issuecomment-624187370

[2020-11-03 14:39] wajda opened #796 "Switch to a new UI"
A new UI version being developed in a separate [Spline UI](https://github.com/AbsaOSS/spline-ui) repo is going to replace the original Spline UI starting from Spline 0.6 major release. It is compatible with Spline 0.5 server and can be used as an alternative to the original Spline UI v0.5.
As of version 0.6 the original UI modules will be removed from the core project and the new UI repo will beco

[2020-11-05 06:10] mohanajuhi166 commented on #793
@wajda do I need write access to spline repo? I was trying to push my local branch. Not sure, hence asking.

[2020-11-12 01:19] metametametameta opened #800 ".collect() call hangs indefinitely when spline lineage tracing is enabled"
## Describe the bug
Calling .collect() on a DataSet obtained using jdbc hangs indefinitely. Same code works just fine when Spline lineage is turned off.

## Versions
Scala 2.11
Spark 2.4.6
Spline 0.5.5 (hang doesn't occur on Spline 0.5.3)

## Components State

- [x] ArangoDB running without errors
- [x] ArangoDB spline database initialized
- Rest Gateway running and
  - [x] connects to ArangoDB

[2020-11-12 09:00] cerveada commented on #800
- Have you got any errors or warnings from spline in the logs?
- What `spline.mode` do you use `REQUIRED` or `BEST_EFFORT`?

[2020-11-13 20:50] wajda commented on #694
Closing this due to deprecation of Spline Web Client in favor of [new Spline UI](https://github.com/AbsaOSS/spline-ui)

[2020-11-13 20:50] #694 closed

[2020-11-13 21:32] metametametameta opened #801 "/operations/{operationId} output doesn't contain textual transformation expressions"
## Background

When a field in a project list is created or transformed in some fashion, there tends to be some sort of an original "expression" string that represents the transformation. For example, here is a simple field that gets created from two existing fields via a concat expression (Java sample)

    df = df.withColumn(
        "name",
        concat(df.col("lname"), lit(", "), df.col("fna

[2020-11-15 04:25] nehapriyathakur commented on #692
I am setting up a project with below dependencies on Spline with Spark
[code]
Above is how my pom.xml look like.

The code is changed to add below lines
[code]
I am submitting the spark code but getting the error
[code]
Process finished with exit code 1

Is spline not compatible with spark 2.4.5 version? If that's the case, could anyone suggest on the correct dependencies to be added?

Thanks in a

[2020-11-15 15:50] wajda commented on #692
@nehapriyathakur,
As I understand you posted your question accidentally here, as this ticket is closed and has nothing in common with yours.
Regarding your question, please make sure you are using an agent jar compiles against the same Scala version that your Spark is using. The error message suggests that you might be using incompatible Scala version.

[2020-11-15 15:51] wajda commented on #692
Should you have more questions please open a separate ticket

[2020-11-18 16:32] wajda commented on #801
Hi @metametametameta,
Thank you for suggestion. I understand your intention and actually, your use-case - namely attribute level lineage - is one of the primary use-cases that we will address in Spline 0.6
Basically, as you mentioned, current UI is able to show you the readable textual representation of expressions. But it's not taken from any particular attribute in JSON, instead it's derived fro

[2020-11-18 18:45] metametametameta commented on #801
Hi @wajda Thanks for explaining the rationale behind the structured representation vs. string representation. I can possibly do some tree -> text translation on my end, but just wanted to know if there's a metamodel I can work with? You mention structural attribute/expression model and ASG model which I'm not familiar with - is there a spec of some sort available for that?

P.S. I looked around in

[2020-11-19 11:56] wajda commented on #801
Yes, pretty much.
To be honest in the version 0.5 there's no universal model for expressions at the server-side level. The expression info is stored as a payload in _whatever_ format it is received from a producer. The UI then is supposed to look at the execution plan `systemInfo` and `agentInfo` properties to select a proper method of parsing and representing that payload (storing in the `extra`

[2020-11-19 21:51] metametametameta commented on #801
I don't expect to be dealing with anything other that Spark lineage right now and I think I can do something simple with the existing JSON model in 0.5.5 for the operation expressions.

I interpreted your response to mean that new fields (or totally new REST endpoints) will be added in 0.6.0 which is great. But the REST output itself in 0.6.0 (for a Spark use case) will be backward compatible with

[2020-11-19 23:17] wajda commented on #801
We always strive for maintaining the backward compatibility although it's not always easy, especially when introducing breaking changes to the domain model.

Server-wise, it will be able to communicate to any agent starting from ver 0.4+. For the database, there is a Spline admin tool that will take care of the database migration, so your existing lineage data should be safe. Although minor discre

[2020-11-19 23:31] metametametameta commented on #801
@wajda Thanks. I'll keep the expected changes in mind when upgrading to 0.6

[2020-11-24 19:13] wajda opened #804 "Get execution plan details connected to a given data source"
_Originally posted by @mohanajuhi166 in https://github.com/AbsaOSS/spline/pull/803#issue-526611500_

[2020-11-25 04:18] siddharths067 opened #805 "Spline producer url unreachable from spark"
## Describe the bug

### Spark cannot connect to spline gateway, `HTTP Response 404`

I used the TLDR configuration and packages given in https://absaoss.github.io/spline/. `za.co.absa.spline.agent.spark:spark-2.4-spline-agent-bundle_2.12:0.5.5 and 'spark.spline.producer.url' as 'http://localhost:9090/producer'`

But I get this error in my spark job
[code]

The docker-compose logs showed this erro

[2020-11-25 09:12] cerveada commented on #805
Please remove the containers and try using the following docker compose
~~https://github.com/AbsaOSS/spline/blob/docker-compose-update-to-0.5.5/docker-compose.yml~~

~~The current one wasn't updated and it's using the latest version which changed so it is causing these problems.~~

**Edit:** docker compose in the [documentation](https://absaoss.github.io/spline/) is fixed now.

[2020-11-25 10:55] siddharths067 commented on #805
@cerveada the docker-compose image now runs successfully. But after my spark job ends, it throws this exception
[code]

[2020-11-25 11:00] cerveada commented on #805
Spark 3.0.0 is not yet supported by Spline. See [the compatibility matrix](https://github.com/AbsaOSS/spline-spark-agent#spark--scala-version-compatibility-matrix).

[2020-11-25 11:04] wajda commented on #805
Spark 3.0 support is a work in progress AbsaOSS/spline-spark-agent#93

[2020-11-25 11:09] wajda opened #807 "Update GitHub templates"
- Remove checkboxes
- Split by modules (spark-agent, UI etc)

[2020-11-25 11:20] siddharths067 commented on #805
Yikes, thanks, I guess I should close this then.

[2020-11-25 11:20] #805 closed, assigned to cerveada

[2020-11-27 10:10] wajda commented on #259
fixed in the scope of #677

[2020-11-27 10:10] #259 closed

[2020-11-27 10:40] wajda opened #808 "Move docker-compose config in a separate repo"

[2020-11-27 10:41] wajda commented on #710
Moving to AbsaOSS/spline-getting-started per #808

[2020-11-27 11:01] #796 closed, assigned to wajda

[2020-11-27 11:01] #671 closed

[2020-11-27 14:15] #808 closed, assigned to nobody

[2020-12-02 11:19] wajda opened #810 "Admin CLI can't deploy Foxx to a secured ArangoDB"
[code]

[2020-12-02 11:24] wajda commented on #810
@dvagapov

[2020-12-08 18:01] #784 closed

[2020-12-09 12:24] #810 closed, assigned to wajda

[2020-12-09 23:51] #788 closed, assigned to nobody

[2020-12-10 22:23] wajda opened #813 "Liveness and readiness probes"
**Liveness probe:**
  - CAN lead to container _restart_ if failed
  - SHOULD only examine the app itself and it's ability to process the queries
  - MUST NOT consider external dependencies (database etc)
  - SHOULD focus on detecting deadlocks, livelocks, starvation, and OOM errors
  - SHOULD respond quickly with low variation in response time.

**Readiness probe:**
  - CAN lead to container _disc

[2020-12-10 22:51] wajda commented on #813
@dvagapov

[2020-12-10 23:08] wajda commented on #746
Will be implemented in #804

[2020-12-10 23:08] #746 closed

[2020-12-10 23:10] wajda commented on #735
related to #804

[2020-12-10 23:21] wajda commented on #727
Spline 0.3 is not supported, so I'm closing the issue.
Just in case anyone is still using 0.3 version - missing lineage data is most likely caused by unsupported/uncaptured action on the driver. Only persistent actions are captured.
It also holds for the recent Spline agents, but now more actions are covered, plus there is an extension mechanism that can be used to add support for even more action

[2020-12-10 23:21] #727 closed

[2020-12-10 23:23] #683 closed

[2020-12-10 23:40] wajda opened #814 "Async producer API (Kafka)"
Add Karka producer API implementation, in addition to the current REST API.

Related to AbsaOSS/spline-spark-agent#166

[2020-12-10 23:43] wajda opened #815 "Export / Import lineage data"
Create a REST API and a respective set of CLI commands to import/export lineage data in the format of the _Producer REST API_ JSON files.

[2020-12-10 23:47] wajda commented on #23
Superseded by #815 and AbsaOSS/spline-spark-agent#156

[2020-12-10 23:47] #23 closed

[2020-12-10 23:54] #748 closed

[2020-12-11 00:04] #50 closed

[2020-12-11 00:07] wajda commented on #499
no need for this any more

[2020-12-11 00:07] #499 closed

[2020-12-11 00:10] #593 closed

[2020-12-11 00:11] #623 closed

[2020-12-11 00:17] wajda commented on #614
iframe based integration is deprecated and should be replaced by a UI component (e.g. angular component or alike) embedded into a target web app.

[2020-12-11 00:17] #614 closed

[2020-12-11 00:21] #647 closed

[2020-12-11 00:37] #679 closed

[2020-12-11 00:40] wajda commented on #460
This UI app is deprecated in favor of AbsaOSS/spline-ui

[2020-12-11 00:40] #460 closed

[2020-12-11 00:42] wajda commented on #476
this UI app will be replaced by AbsaOSS/spline-ui

[2020-12-11 00:42] #476 closed

[2020-12-11 00:44] wajda commented on #655
it's there
![image](https://user-images.githubusercontent.com/795479/101846980-6dc64700-3b52-11eb-8654-11525840b5a9.png)

[2020-12-11 00:44] #655 closed

[2020-12-11 00:52] wajda commented on #661
Since there was no reaction for 8 months I'm closing the ticket.
@ErCoino please feel free to reopen it if you still have a questions.

[2020-12-11 00:53] #661 closed

[2020-12-11 00:54] wajda commented on #705
#114

[2020-12-11 00:54] #705 closed

[2020-12-11 00:56] #757 closed

[2020-12-11 01:04] #766 closed

[2020-12-11 01:05] #768 closed

[2020-12-11 01:10] #795 closed, assigned to nobody

[2020-12-11 09:39] wajda opened #816 "Docker: HTTPS support"
Docker container should be able to accept HTTPS requests. The cert should be refreshable

[2020-12-17 12:44] uday1409 commented on #485
@wajda  @cerveada  Any update on this bug? We are unable to fetch graph in detailed lineage

[2020-12-17 15:35] wajda commented on #485
The issue was partially remediated by enabling gzip compression and adding configurable timeout propery. We plan to return to this issue later.

[2020-12-17 15:37] wajda commented on #485
But for getting detailed lineage performance should be an issue. Can you give us more stats?

[2020-12-22 08:45] dvagapov commented on #813
Added Probes in native Kubernetes-style. Soon will be published official Deployment for Kubernetes using Helm-charts

[2021-01-26 14:20] wajda commented on #814
I think this should be another runtime component that is deployed separately from the gateway

[2021-02-05 23:27] wajda opened #823 "`POST /producer/execution-plans` should not replace execution plan ID"
While discussing #814 and AbsaOSS/spline-spark-agent#156 respectively we realized that there is no point for the REST API to replace the original execution plan ID if one was provided by the client. The burden of de-duplication has to be put on the server anyway (due to async nature of other channels). It has to be some sort of ID aliasing managed on the server side. And when that functionality is

[2021-02-17 14:14] Sbargaoui commented on #767
Hello, I'm encountering the same issue. Which spark, scala and spline agent versions did you use? Thanks !

[2021-02-20 17:34] Sbargaoui opened #825 "Pyspark - Spline error when writing csv"
## Describe the bug
I'm trying to capture lineage using Spline while running pyspark and executing a basic read/write csv file operation.

Creating session :

[code]

Ran code:

[code]

## Versions
Spline (Dockerized) - Agent version 0.5.6
Spark 2.4.2
Hadoop 2.7.3
Python 3.7.8

## Components State
- [x] ArangoDB running without errors
- [x] ArangoDB spline database initialized
- Rest Gateway runni

[2021-02-22 12:37] wajda commented on #825
It is most likely caused by the version mismatch of some of the components in your setup.
Please make sure you are using the Spline agent bundle version that is compiled against the same Scala version (2.12 in your example) as the Spark itself.

[2021-02-22 12:43] wajda commented on #825
You can check the runtime versions in the `pyspark` by executing:
[code]

[2021-02-22 12:45] wajda commented on #767
Please check the following comment:
https://github.com/AbsaOSS/spline/issues/825#issuecomment-783343875

[2021-02-23 17:12] wajda opened #826 "Console and Logging Lineage Dispatchers"
Because why not...

Makes it easy to experiment / debug / investigate some agent issues without having to worry about Spline Producer endpoints.
It might also serve as another way of taking the lineage data out of the agent into whatever application or process that one might need to.

  - `StdLineageDispatcher` writes lineage data into the standard output or standard error, according to the `strea

[2021-02-24 01:42] #790 closed, assigned to wajda

[2021-02-24 01:42] #793 closed, assigned to nobody

[2021-03-03 21:36] wajda opened #827 "Update velocypack-module-scala to the upstream version"
The fix for https://github.com/arangodb/java-velocypack-module-scala/issues/15 has been merged to the version 1.2.1, so we can return to the upstream dependency.

Replace:
[code]
with:
[code]
and disable the fork repo.

[2021-03-04 00:15] wajda commented on #113
Moving it to one of the next releases as the UI isn't ready for this anyway.

[2021-03-04 00:15] wajda commented on #670
Moving it to one of the next releases as the UI isn't ready for this anyway.

[2021-03-04 00:41] wajda commented on #114
Almost there.
The majority of work has been (finally) done in #822. It took us quite a while, but later is better than never :)
We had to extend our data model (it's about twice the size of the previous one now). The way the attribute lineage is solved is similar to the way the operation lineage is solved, meaning that the attributes are made separate entities and are stored in a DAG, but are link

[2021-03-04 00:56] wajda commented on #114
As for the RDD lineage there is separate issue in the spark-agent repo - https://github.com/AbsaOSS/spline-spark-agent/issues/33

UDF case is worth investigating, created another issue for that - https://github.com/AbsaOSS/spline-spark-agent/issues/181

[2021-03-05 08:18] vidma commented on #791
@wajda I'd say might also depend on `g` also, as both c & g provide `control lineage` - the result value depend on the value of `g` even if indirectly. thus this we consider two types of lineages -`data` & `control`, data being the main one.

[2021-03-05 09:54] wajda commented on #791
Yes, correct, of course, it's just an oversight in description. Thanks for pointing it out! :)

[2021-03-08 12:12] wajda opened #831 "Producer REST API enhancement & documentation"
- Check the Producer REST API Swagger docs.
  - Check naming of the fields and entities in the model. Rename where necessary.
  - Add `name` filed to entities where appropriate

[2021-03-08 12:32] wajda opened #833 "Upgrade to jackson-dataformat-velocypack (from velocypack-module-scala)"
According to
https://github.com/arangodb/java-velocypack-module-scala/issues/15#issuecomment-776558389

[2021-03-08 12:35] wajda opened #834 "Ensure SSL validation is supported"
Per discussion with @dvagapov, we need to make sure that all our components that connect via secured protocols to external parties (ArangoDB driver, Kafka consumer etc) support TLS validation.
Also the respective Docker containers should expose options to provide CA cert to the container.

[2021-03-08 12:36] #823 closed, assigned to wajda

[2021-03-08 14:25] #827 closed, assigned to wajda

[2021-03-08 18:18] wajda opened #835 "Producer API fails for some examples run by 0.5 agent"
1. Example 3 - returns 404

2. Consumer REST API - Expressions aren't map property on operation properties
![image](https://user-images.githubusercontent.com/795479/110372348-7abdde00-804e-11eb-8911-b86a32b8b178.png)

![image](https://user-images.githubusercontent.com/795479/110372399-89a49080-804e-11eb-9d22-d6b5d6170d99.png)

3. Velocypach deserialization:
[code]

[2021-03-10 13:10] wajda opened #837 "Consumer REST: /execution-events: total date range facet doesn't take other filters into account"
Total date range should be computed based on all provided filters excepts for the date one.

@oleksandr-korchak

[2021-03-10 13:59] wajda opened #838 "Consumer REST: /data-sources"
Create a REST resource representing a _Data Source_

Methods:

1. `GET /data-sources`
Returns an array of distinct data source URIs joined with the last _Write_ event info, supporting pagination and filtering capabilities similar to `/execution-events`

[2021-03-10 13:59] wajda commented on #838
@oleksandr-korchak

[2021-03-10 14:10] cerveada opened #839 "Kafka consumer - error handling"
Kafka give us a lot of options how to handle errors during message processing. Further analysis should be done. It would probably be good to make it configurable.

Some possible options:
- ack all messages and just log the errors
- push the failing message in special error topic and ack
- shutdown the application on error
- (other ?)

[2021-03-10 14:29] cerveada opened #840 "Kafka consumer - performance imporvments"
Spring provides `Batch listener` that allows accessing all messages in current batch. It would be possible to group the message by planId and then process them in parallel.

Almost the same thing is theoretically possible on a higher level by deploying several Kafka servers and using Kafka partitioning, but I am not sure how the database and persistence layer will handle this.

[2021-03-11 01:03] wajda opened #842 "Build: Store build hash in the build properties"
When building snapshot versions we need to store a unique ID somewhere in the build properties, so that the snapshot artifacts could be identified more precisely.

Do it for all Spline sub-projects.

@dvagapov

[2021-03-11 01:37] wajda commented on #842
Actually we already have `build.properties` in place that are automatically populated with the project version and the date/time at the Maven build stage. We can utilize the Semver version metadata to store the git revision number right in the version itself, as per https://semver.org/#spec-item-10

E.g. `0.6.0-SNAPSHOT+61c91f2cac468733082fe819a8b1d74b89ec9851`

This can be achieved by simply upda

[2021-03-11 19:59] #842 closed, assigned to wajda

[2021-03-12 13:43] wajda opened #843 "Consumer REST: Add "name" field for "DataSource" with sorting capabilities"
`GET /execution-events`
`GET /data-source`
should have sortable "name" field, that is derived from the "dataSourceURI" by cutting on the last meaningful slash

fyi, @oleksandr-korchak

[2021-03-12 13:45] oleksandr-korchak commented on #843
@wajda maybe it is better to call it `dataSourceName`?

[2021-03-12 14:04] wajda commented on #843
Makes sense for now, especially as both are sharing the same entity at the moment.

[2021-03-16 12:05] wajda opened #846 "Rename package: za.co.absa.spline.producer.kafka` to `za.co.absa.spline.gateway.kafka` for consistency with the REST gateway"

[2021-03-16 12:35] cerveada commented on #846
It makes sense, but it's not 100% consistent either way. Rest-gateway provide bot producer and consumer APIs, whereas kafka-gateway provides only producer API.

[2021-03-16 13:18] wajda commented on #846
That's right, but those are different types of gateway. We could have one configurable gateway that could run an arbitrary number of services, like Kafka producer, REST producer and REST consumer. In that case Kafka module would only consist of Kafka specific classes and we'd call it like `producer-kafka-core` or something (similar to the modules that contain REST specific stuff).
But since we spl

[2021-03-16 13:22] wajda opened #847 "Persistence model: Edge "uses" to point multiple places in the "operation""
~`jsonPath` property should be a sequence~
In fact we just need to make sure there are as many "uses" edges as there are usages of a certain attribute or expression in the given operation.

[2021-03-18 20:59] wajda opened #850 "VstConnectionAsync ClassCastException in ArangoDB Java Driver"
See: https://github.com/arangodb/arangodb-java-driver-async/issues/21

The issue still occurs, seemingly non-deterministically.
The driver version: `com.arangodb:arangodb-java-driver:6.9.0`
Connection string: `arangodbs://localhost:8530,localhost:8530/spline-dev-new`

A workarounds has been placed earlier for other use-cases: fb7b507632975dbfa6b652f90bec76958a232e15
As it turned our it also someti

[2021-03-19 15:02] #677 closed

[2021-03-19 15:02] #838 closed, assigned to wajda

[2021-03-19 15:02] #837 closed, assigned to wajda

[2021-03-19 15:03] #843 closed, assigned to wajda

[2021-03-19 15:03] #847 closed, assigned to wajda

[2021-03-19 15:03] #835 closed, assigned to wajda

[2021-03-19 15:04] #114 closed

[2021-03-22 16:16] wajda commented on #850
After a deeper investigation it turned out that the previously placed workaround didn't actually solve the issue, but rather concealed it. The above exception occurs in the Arango active failover mechanism. So even though the previous workaround allowed the primary requests to succeed, the active failover remained non-functional.

Considering the above I've decided to not proceed with the aforemen

[2021-03-24 16:16] wajda opened #853 "Check the DB version at startup: Fail if the DB version is newer than the app"
We have a check that fails if the DB version is _older_, but we also need to check if it's not newer.

[2021-03-26 23:42] wajda commented on #26
Closing as obsolete. UI module has been moved to a separate project - https://github.com/AbsaOSS/spline-ui

[2021-03-26 23:42] #26 closed

[2021-03-26 23:42] wajda commented on #399
Closing as obsolete. UI module has been moved to a separate project - https://github.com/AbsaOSS/spline-ui

[2021-03-26 23:42] #399 closed

[2021-03-26 23:49] wajda commented on #649
Closing as obsolete.
UI module has been moved to a separate project - https://github.com/AbsaOSS/spline-ui
Attribute search in its variant of the time when this issue has been created, has also been removed from the current UI due to the poor usability.

[2021-03-26 23:49] #649 closed

[2021-03-26 23:59] wajda commented on #475
Closing as obsolete. UI module has been moved to a separate project - https://github.com/AbsaOSS/spline-ui

[2021-03-26 23:59] #475 closed

[2021-03-27 00:01] wajda commented on #230
No need for this yet.

[2021-03-27 00:01] #230 closed

[2021-03-27 00:08] #787 closed, assigned to nobody

[2021-03-27 00:09] #256 closed

[2021-03-27 00:15] #30 closed

[2021-03-27 00:16] wajda commented on #88
Closing as obsolete. UI module has been moved to a separate project - https://github.com/AbsaOSS/spline-ui

[2021-03-27 00:16] #88 closed

[2021-03-27 00:20] wajda commented on #39
Closing as obsolete. Atlas integration has been removed from the Spline core - #279

[2021-03-27 00:20] #39 closed

[2021-03-27 00:22] wajda commented on #570
Closing as obsolete. Atlas integration has been removed from the Spline core - #279

[2021-03-27 00:22] #570 closed

[2021-03-27 00:35] #752 closed

[2021-03-27 00:37] #682 closed

[2021-03-27 00:56] wajda commented on #816
@dvagapov do we need to implement this? If yes then what do we do about cert management?

[2021-03-27 00:57] #825 closed, assigned to nobody

[2021-04-05 08:46] uday1409 opened #857 "Spline 6.0 release date"
Hi,

Would like to know the 6.0 release date as it has some great features implemented

[2021-04-06 10:21] #857 closed, assigned to nobody

[2021-04-09 18:36] wajda commented on #846
will be done in scope of #831

[2021-04-09 18:51] #846 closed, assigned to wajda

[2021-04-09 19:59] wajda opened #859 "Consumer REST: More exec plan details on the overview graph"
+ systemInfo
+ agentInfo

for AbsaOSS/spline-ui#90

[2021-04-12 22:25] wajda opened #864 "Add a DB schema 0.6.0 version marker file"
Implementation of the actual migration script (#673) can be postponed to the next patch release.

[2021-04-13 08:28] #864 closed, assigned to wajda

[2021-04-15 16:59] wajda opened #866 "Save Git commit ID in the build properties"
And for all related repos.

[2021-04-16 21:26] wajda opened #869 "ArangoDB cluster mode :: VstConnection :: java.net.SocketException: Socket closed"
The error only occurs when ArangoDB is in cluster mode _and_ is running in a docker:

[code]
fails with the following:
[code]

(reported by @dvagapov)

[2021-04-16 21:31] wajda commented on #869
The error occurs when using `arangodb-java-driver:6.9.1`, while version `6.9.0` works.
See 732ff72613e4aa0673a8790cf7d92b4e2da436bc

[2021-04-16 21:31] wajda commented on #869
FYI @dvagapov

[2021-04-19 11:35] cerveada commented on #869
There is a newer `arangodb-java-driver:6.10.0`. Maybe it fixes the issues?
https://github.com/arangodb/arangodb-java-driver/releases/tag/v6.10.0

[2021-04-19 13:19] dvagapov commented on #869
Checked 6.10.0, without workaround - same error like in 6.9.1

[2021-04-19 22:16] pneeli opened #870 "Error Caused by: java.lang.ClassNotFoundException: org.apache.commons.configuration.Configuration while doing a Spark Submit"
Hello I followed https://absaoss.github.io/spline/ to start spline in docker. Once docker compose up is performed, I ran a test spark job I created, following is the command I used
[code]
my process failed with Caused by: java.lang.ClassNotFoundException: org.apache.commons.configuration.Configuration
Error log:
[code]
## Question
Can you please help with some pointers on how to fix this?
Is there

[2021-04-20 06:06] cerveada commented on #870
You seem to be using `spark-2.4` bundle with Spark 3.1.1. The Spark versions must match, also Scala versions must match as well.

- Support for Spark 3.0.x is coming soon in Spline 0.6
- Support for Spark 3.1.x is not done yet

[2021-04-20 20:34] pneeli commented on #870
@cerveada Thanks for responding, I am using spark version 3.1.1 using version 2.12.10.
What version of Spark is support by Spline v0.5? is it using Spark v2.4?

[2021-04-20 21:24] wajda commented on #869
Found the reason, see the above ticket created.

A temporary workaround is for the client to address the arangodb server via the IP or a host name that matches (as a string) the IP/host visible from the inside Docker network. E.g. instead of `arangodb://localhost:8529/blah` use `arangodb://172.17.0.1:8529/blah`

[2021-04-20 21:26] wajda commented on #870
Yes, Spline 0.5 supports Spark version up to 2.4

[2021-04-20 21:44] pneeli commented on #870
Thanks @wajda, any timeline for Spline v0.6 release?

[2021-04-20 21:52] wajda commented on #870
Soon. We're finishing our final test/fix round.

[2021-04-20 21:56] #870 closed, assigned to nobody

[2021-04-21 09:50] wajda opened #871 "Admin CLI: Add "-v --version" option"

[2021-04-21 14:27] #871 closed, assigned to wajda

[2021-04-21 14:28] #866 closed, assigned to wajda

[2021-04-21 14:29] #850 closed, assigned to wajda

[2021-04-21 14:30] #789 closed, assigned to wajda

[2021-04-21 14:30] #814 closed, assigned to cerveada

[2021-04-22 07:12] wajda opened #874 "Admin CLI: ANSI codes aren't interpreted on Windows"
Admin CLI uses ANSI codes to color some part of the output. It doesn't work on Windows however and result is corrupted output.

The simplest solution would be to disable usage of ANSI codes on Windows.

Additionally to that issue, the `ansi-interpolator` library used in the project seems to be 100% implemented in macros (thus compile time), so can be excluded from the runtime dependencies.

[2021-04-22 16:18] #874 closed, assigned to wajda

[2021-04-22 16:37] #831 closed, assigned to wajda

[2021-04-23 14:24] #859 closed, assigned to wajda

[2021-04-23 14:30] wajda opened #876 "SCM revision should be shortened on the build level"
use a property in a pom.xml instead of `take(7)`

[2021-04-23 14:51] wajda opened #878 "Docker image for Admin CLI"
To run the Admin like this:
[code]

[2021-04-26 08:35] #876 closed, assigned to wajda

[2021-04-27 07:07] mohanajuhi166 opened #882 "Regarding Capturing of Input DataSource : Schema & TableName"
Hi @wajda
Greetings for the day.

I had one question .So in our execution workflows, the starting node captures only the location uri of the datasource (either GCS bucket entire path/hive path) but we dont get to see the the actual schema and table name. I think it only picks up the name from the last string of the location path.

Questions
1. Is my understanding correct?
2. Is there a way to capt

[2021-04-27 09:58] wajda commented on #882
Can you send me the execution plan JSON? (write operation part is enough)

[2021-04-27 10:17] mohanajuhi166 commented on #882
@wajda sure. below . I have put dummy data but this is the way it is coming(removed actual names)
As you can ,see for gs://AABBCC2/ , we only get location uri of datasource but no info on table,schema;

[code]

[2021-04-27 10:24] wajda commented on #882
That's JSON from the UI. But I'm interested in the JSON that your agent sends to the Spline server. Can you capture that one?

[2021-04-27 10:25] mohanajuhi166 commented on #882
@wajda ,how can i get that via the api ? or do i need to debug the application locally?

[2021-04-27 10:46] wajda commented on #882
Which agent version are you using?

[2021-04-27 11:00] mohanajuhi166 commented on #882
0.5.5

[2021-04-27 11:13] wajda commented on #882
For that version you have three options:
1. Enable TRACE log level and search logs for the phrase "sendJson"
2. Configure HTTP proxy for the agent.
Add the following JVM properties to the Spark agent process
```-Dhttp.proxyHost=... -Dhttp.proxyPort=... -Dhttp.nonProxyHosts=```
3. Debug the agent - class `HttpLineageDispatcher` line 158

[2021-04-27 11:15] wajda commented on #882
Also, can you share how the write command looks like in you Spark job code?

[2021-04-27 11:35] mohanajuhi166 commented on #882
sure
its
`val spark=SparkIOUtil.getSparkSession()
    SparkLineageInitializer.enableLineageTracking(spark)`

[2021-04-27 11:58] wajda commented on #882
I mean, I'd like to see the write command, how do you store the result data.

[2021-04-27 12:40] mohanajuhi166 commented on #882
@wajda sorry a little confused, do you mean the writeTo collection?
Because we just followed the list of steps here : https://absaoss.github.io/spline/

[2021-04-27 12:56] wajda commented on #882
No I mean your Spark SQL code. What Spark operation you perform.

[2021-04-27 14:10] mohanajuhi166 commented on #882
sure, I will share it in sometime, thanks !

[2021-04-28 17:20] wajda opened #883 "400 JSON parse error when "constant.value=null""
When the execution plan contains a literal with `value: null` then `POST /producer/execution-plans` returns 400.

[code]

[code]

The issue is related to AbsaOSS/spline-spark-agent#200

[2021-04-28 17:22] wajda commented on #883
@dk1844 @AdrianOlosutean

[2021-04-28 17:43] wajda commented on #883
That's a Twitter Finatra Jackson deserializer issue. It seems to require non-null values for non-optional fields. I need to investigate what can we do about it.

[2021-04-29 15:23] BhuiyanMH opened #885 "The docker container for the REST server needs to be restarted every few minutes"
## Describe the bug
Thanks for the great tool. I am using the docker deployment of the Spline. The REST server becomes unavailable after few minutes. It becomes available after restarting the container.

## Versions
Please provide versions: latest container for Arangodb, Spline Web UI, Spline REST Server.

## Components State
- [ Y] ArangoDB running without errors
- [ Y] ArangoDB spline database i

[2021-04-29 16:35] wajda commented on #885
Can you give us more context please?

What is the Server version you are using?
Container setting: (e.g. memory limit if any)
Is there are any error messages in the container log (e.g. `/usr/local/tomcat/logs/catalina.out`)?
How does it fail? Does it slow down before crashing? On what kind operation does it crash? Is it related to Producer or Consumer API calls?
How does your load pattern look lik

[2021-04-30 06:30] cerveada commented on #885
As far as I know Windows 13 doesn't exist, or does it?

[2021-05-01 11:48] wajda opened #887 "Switch to a released package-pom"
`package-pom` has been move to a separate repo - https://github.com/AbsaOSS/spline-root-pom
Delete one from this repo, and fix references accordingly.

[2021-05-07 08:53] #887 closed, assigned to wajda

[2021-05-07 09:13] #878 closed, assigned to wajda

[2021-05-07 13:17] wajda opened #889 "Make Docker images size smaller"
Since more and more people are using Docker containers over standalone J2EE servers, I see no reason to continue supporting the later. We should switch to a lighter container (Spring boot?).

[2021-05-07 14:34] cerveada commented on #889
Spring boot packages a tomcat inside the jar that it creates. Isn't it actually more bulky?

I am not saying that it's a bad idea, but what is the goal here?

[2021-05-07 14:44] cerveada commented on #883
####  Twitter Finatra Jackson Modul
Yes, Twitter Finatra Jackson requires non-null values for non-optional case class fields. It's also not really made to be configurable. There is an option to define a custom JsonDeserializer, but the null check happens after the deserialization. I don't think there is a way how to turn this off for just one field.

As a workaround it is possible to set a default

[2021-05-07 14:50] wajda commented on #889
Oh, does it? So I didn't put that question mark for nothing :)) For some reason I thought Spring boot had its own http engine.
Maybe Play! then? We don't depend on Spring much anyway. I think any decent alternative would work. We need to do some research on this topic when we have time.

[2021-05-07 15:00] wajda commented on #889
Just to clarify. I'm not against WAR-files, in fact I see a lot of strengths in this tech. I'm just wandering if there is anything more modern and significantly more lightweight in the micro-services and Docker era. But by default I'd stick with the current stack.

[2021-05-07 15:11] wajda commented on #883
Adding a default value also makes this fiend optional in Swagger, and subsequently the field is treated as such in the client side code generated from the Swagger definitions. Being seemingly a small thing it could create unnecessary questions, confusion or a side effect in a long term perspective. I would prefer having a dirty hack on the server but keeping the API model correct.

What if we fork

[2021-05-07 23:10] #869 closed, assigned to wajda

[2021-05-07 23:15] wajda opened #891 "Arangodb-java-driver: Upgrade to the upstream version 6.12.2+"
See #873

[2021-05-10 08:53] cerveada commented on #889
As far as I know Spring boot doesn't add many new features to spring. It mostly provides opinioned default configuration for all other spring parts that makes everything work out of the box.

In Boot, you can choose Tomcat, Jetty or Undertow as a servlet container.

An interesting alternative to Spring-MVC might also be [Spring Web Reactive](https://docs.spring.io/spring-framework/docs/current/ref

[2021-05-10 09:01] cerveada commented on #883
Ok I will fork the Finatra.

One potential issue there is that they seem to make mandatory only case class fields. But since we use case classes everywhere in the API it's not a problem for us right now.

[2021-05-17 14:57] #883 closed, assigned to cerveada

[2021-05-20 15:40] mohanajuhi166 commented on #882
@wajda we can close this, this was an issue at our end, Thank you

[2021-05-21 09:32] #882 closed, assigned to nobody

[2021-05-21 10:51] mohanajuhi166 opened #893 "Check For Lineage Duplication"
## Background
Currently, the lineage is being captured for a workflow whenever an execution occurs (for audit purposes etc).  We ingest the lineage for the workflow without an additional check to see if the  lineage has changed for an existing operation.

## Feature
To introduce an additional check , to check if the lineage has changed or not. If it has then, then only update the lineage parameter

[2021-05-21 12:27] wajda commented on #893
Thank you @mohanajuhi166, that is a very good point. Actually there is already a similar ticket in our backlog - #257
Basically, the main challenge is to find a proper way to compare execution plans. Since execution plan contains a lot of internal details (operation properties, expressions etc) even a negligible change in the environment (e.g. a minor Spark version change, or a Spark agent update)

[2021-05-21 14:22] mohanajuhi166 commented on #893
@wajda definitely. We have some ideas.Will be sharing soon. Thank you.

[2021-05-26 07:54] mohanajuhi166 commented on #893
@wajda is there a way to capture the spline json via an arangodb query across collections for a plan id?

[2021-06-03 12:28] wajda opened #896 "Custom app metrics exporter for Prometheus"
- https://sysdig.com/blog/jmx-monitoring-custom-metrics/
- https://micrometer.io/docs

[2021-06-09 22:38] wajda opened #898 "Consumer API: execution plan name is `null`"
[code]
returns
[code]

[2021-06-11 13:57] #898 closed, assigned to wajda

[2021-06-16 12:44] wajda opened #900 "Switch to AbsaOSS root POM"

[2021-06-17 14:39] wajda opened #902 "Add the name of the write operation into the execution event info"
Knowing a write operation name may significantly improve readability of the execution event list. For instance, Insert into table and Write into a file with mode "append" are currently represented as just `append`. Likewise Drop table or Write with mode "overwrite" are represented as just "overwrite". Adding an operation name would give user more context on what the event exactly is.

[2021-06-18 12:37] #900 closed, assigned to nobody

[2021-06-21 02:45] rsaw4 opened #904 "column level lineage from transforms/sparkSQL"
Does spline show column level lineage from transforms/sparkSQL?

[2021-06-21 08:17] wajda commented on #904
Yes it does. However the current UI (0.6) can only show the attribute-level lineage in the scope of one job. In the next UI we'll add ability to display it end-to-end across jobs.

[2021-06-21 08:24] wajda commented on #904
Open the execution plan details, find your column on the left hand side or in the Input/Output schema of a selected operation, and click it. The column lineage will be highlighted on the operations graph.

![image](https://user-images.githubusercontent.com/795479/122730506-92764680-d27a-11eb-859e-1145cf6b51b4.png)

Clicking on the Lineage or Impact details in the popup will show you the correspond

[2021-06-22 10:46] wajda commented on #885
@BhuiyanMH is there any new piece of information about the issue? Is it still happening to you?

[2021-06-22 13:26] wajda commented on #816
Per discussion with Danil, the best practice is to terminate TLS on the reverse proxy / ingress level. So explicit HTTPS support isn't required for the container.

[2021-06-22 13:26] #816 closed, assigned to nobody

[2021-06-22 15:59] wajda opened #906 "Admin: Remove deprecated '-k', '--insecure' keys"

[2021-06-23 08:33] wajda opened #907 "Admin CLI doesn't return on Arangodb authentication errors"
The following exception is printed and the thread remains blocked indefinitely.
[code]

[2021-06-23 10:26] wajda opened #908 "Fix Admin CLI usage info"
Currently running Admin CLI with `--help` prints this:
[code]

It should print a correct usage example depending if it is run as a Java command or a disposable docker container. E.g.:
[code]

[2021-06-23 13:52] BhuiyanMH commented on #885
Hello, so sorry for the late reply.

[2021-06-23 13:54] BhuiyanMH commented on #885
So sorry, my bad. It was a typo. It should be Windows 10.

[2021-06-23 14:13] BhuiyanMH commented on #885
@wajda Very sorry for the late reply. :(

Later, I realized that the server did not stop actually though an error occurred. The UI kept loading for a while and showed an error as shown in the following:

![Spline Error Upload](https://user-images.githubusercontent.com/18303266/123110457-673b5500-d43c-11eb-9d0f-4b9ba864df22.png)

If I try to load it again after a while (10/15 minutes), it seems to

[2021-06-23 14:43] cerveada opened #909 "Switch back to standart Finatra version"
The newest Finatra version allows us to use custom Deserializer to allow nulls selectively.
This can be used to solve issue (#883) without using custom Finatra fork (as we do now).

[2021-06-23 15:22] wajda commented on #885
It's a database connection timeout. Some query seems to take too long.
Possible causes:
- Networking issue (too slow connection)
- ArangoDB issue (improper setup, CPU or RAM shortage)
- Poorly performing Spline query
- Missing necessary indices
- Too much data or too large documents

We need more info and your help to investigate the issue:
- What exact Spline version and ArangoDB version are you

[2021-06-23 15:31] wajda opened #911 "Incorrect index field "execPlanDetails.executionPlanId""
Should be `execPlanDetails.executionPlanKey`

[2021-06-24 11:39] BhuiyanMH commented on #885
Hello, here are some details:

**What exact Spline version and ArangoDB version are you using?**
Spline version: 0.5.6
ArangoDb version: 3.7.10

**Are you using it on cloud on premises? What does the cluster setup look like?**
I am running all the containers in an Azure VM(not put in an autoscaling group) of type Ubuntu 18.04. The VM configuration is:
Number of vCPUs: 2
RAM: 8 GiB

**What's an app

[2021-06-24 12:46] wajda commented on #885
With such small amount of documents there should be no performance issues at all. Is it still occurring to you? Try to monitor the processes and find out which one performs inadequately. See whether there is enough resources (RAM in particular).

[2021-06-24 20:04] wajda opened #913 "Change default value for "disableSslValidation" properties to "false""
... for security reasons

[2021-06-25 14:55] wajda opened #915 "Kafka Gateway: improve configuration"
### Current state
In the `KafkaGatewayConfig` there is nothing tells that `spline.kafka.topic`, `spline.consumer.group.id ` or `spline.consumer.bootstrap.servers` are mandatory properties.
If one of more of them isn't provided different kind of exceptions are thrown from different parts of Kafka driver, and the messages are mostly misleading.
For instance:
[code]
[code]
[code]

### Desired state
A

[2021-06-29 09:03] #907 closed, assigned to wajda

[2021-06-29 09:03] #911 closed, assigned to wajda

[2021-06-29 15:16] wajda opened #921 "Upgrade ArangoDB Java Driver to version 6.12.4+"
Version 6.12.4 fixes arangodb/arangodb-java-driver#399, so the following workaround can be removed:

ArangoDatabaseFacade:76
[code]

[2021-06-30 08:34] #807 closed, assigned to wajda

[2021-07-01 07:31] rsaw4 opened #923 "java.lang.NoSuchMethodError: za.co.absa.spline.persistence.atlas.AtlasDataLineageWriter.notifyEntities(Ljava/lang/String;Ljava/util/List;)V"
i know atlas is no longer in latest version, but any idea on this error?
I am using spark 2.4, atlas 1.1, spline 0.3.9
and have added following jars to spark folder:

spline-bundle-2_4-0.3.9.jar
spline-core-spark-adapter-2.4-0.3.9.jar
spline-core-spark-adapter-api-0.3.9.jar
spline-model-0.3.9.jar
spline-persistence-api-0.3.9.jar
spline-persistence-atlas-0.3.9.jar
atlas-common-0.8-incubating.jar
at

[2021-07-01 10:31] rsaw4 opened #924 "org.apache.atlas.hook.AtlasHook - Adding entity for type: spark_endpoint_dataset java.lang.AbstractMethodError"
I am using spark 2.4, atlas 1.1, spline 0.3.9

[code]

[2021-07-01 12:03] cerveada commented on #924
Please note that Spline version 0.3 has reached the **End-Of-Life** and is not maintained anymore.

I can't spend much time on this, but from the log, I would say it's an binary incompatibility issue. Probably atlas is expecting different json4s version then is on class path.

[2021-07-02 02:00] rsaw4 opened #925 "unique constraint violated - in index primary of type primary over '_key'; conflicting key"
using docker quickstart with latest spline versions, spark 2.4, rest server logs have:

[code]

[2021-07-02 02:35] rsaw4 commented on #925
related to https://github.com/AbsaOSS/spline-spark-agent/issues/265, error comes at same time

[2021-07-02 08:01] cerveada commented on #925
Thanks for reporting the issue.

Could you try to look into arangodb and find out what object has the key `2cf4dcdb-1c9d-4a26-9f4e-47236db5393f:565` ?
From it you may be able to find out which Spark operation is causing the duplication.

From the log I can see some duplication is happening, but without being able to replicate that It might not be possible to find and fix the cause.

[2021-07-05 17:31] kuhnen commented on #925
Hello,  I got exactly the same error: ```java.lang.RuntimeException: Cannot send lineage data to http://0.0.0.0:8080/producer/execution-plans. HTTP Response: 500 {"errorId":"d9b4598c-32cd-426c-b619-5d91d127d3ee","timestamp":1625504823983,"message":null}```.   Looking at the collection executionPLan, I can see that it is empty.  Any ideas? Could it be the case, the complexity of the job?

[2021-07-05 18:04] kuhnen commented on #925
I believe the problem is the size of the lienage,  I used console and it worked fine.
[code]
I hope this helps

[2021-07-05 19:27] kuhnen commented on #925
One more small update, when trying to use kafka as the gateway I got this:
[code]

[2021-07-15 13:27] alessandromas opened #926 "java.lang.ClassNotFoundException: za.co.absa.spline.harvester.listener.SplineQueryExecutionListener"
I'm having a ClassNotFoundException while trying to catch a linage with Spline ( Server A ) running a Spark-shell on a different server ( Server B ).
I tried the status check from Server B on Server A using curl, it seems works correctly

[code]

When i try to run the spark-shell i get the following error:

[code]

Here follow some detail about the enviroment:
[code]

The launch command detail:
[c

[2021-07-16 09:46] tooptoop4 opened #927 "Any plan to get presto view lineage?"
Given SQL for viewA, store details that:
viewA.columnX = tableB.columnY
viewA.columnZ  = tableC.columnW

[2021-07-19 09:30] #924 closed, assigned to nobody

[2021-07-19 09:48] wajda commented on #923
It requires `org.apache.atlas:atlas-notification:1.0.0`

[2021-07-19 09:55] wajda commented on #923
Please refer [pom.xml](https://github.com/AbsaOSS/spline/blob/release/0.3.9/persistence/atlas/pom.xml) for details.

I'm closing the ticket as Spline 0.3 isn't maintained anymore. Please try using other resources for getting help about unsupported Spline versions.

[2021-07-19 09:55] #923 closed, assigned to nobody

[2021-07-19 10:11] wajda commented on #925
Regarding the `Unresolved execution plan IDs`, I think it's because the previous error - the execution plan processing failed, and hence, so did the subsequent execution event referencing it.

[2021-07-19 13:58] kuhnen commented on #925
@wajda thanks :).   Would be great if you could give me a hint on which components we would need to change to fix this 👍 .
I am open to trying a pull request in the name of the company that I work.  We already have a few pull requests for the tool GREAT_EXPECTATIONS and would be awesome to be able to contribute to one more tool.

[2021-07-19 15:33] wajda commented on #925
Sure, let me take a look at it first. I've got some stuff to catch up on after my holiday, so give me a day or two :)

[2021-07-20 14:06] wajda opened #928 "Consumer: add filter by write mode"
`GET .../execution-events/?...&append=true|false`

[2021-07-20 14:07] wajda commented on #928
@oleksandr-korchak

[2021-07-28 04:42] kuhnen commented on #925
@wajda  :). any news here :). Just a friendly reminder 👍

[2021-07-28 08:54] wajda commented on #925
no worries, I'll get to it this week.

[2021-07-28 19:08] #673 closed

[2021-07-29 07:30] wajda commented on #925
I reproduced the error. Working on it.

[2021-07-29 07:34] wajda commented on #925
It seems like it's an agent issue - the JSON contains attributes with duplicated IDs (e.g. 123)
What agent version are you using?

[2021-07-29 07:38] kuhnen commented on #925
@wajda I used the most recent I could, on the day I wrote this. I am pretty sure it was 0.6.1

[2021-07-29 07:53] wajda commented on #925
Thanks Andre. I filed a ticket in the agent repo. I'll also add some validation on the server side, to make the error messages clearer.

[2021-07-29 10:34] kuhnen commented on #925
@wajda thanks a lot 👍

[2021-07-29 14:34] #667 closed

[2021-07-29 14:34] #891 closed, assigned to wajda

[2021-07-29 14:35] #909 closed, assigned to cerveada

[2021-07-29 14:35] #928 closed, assigned to wajda

[2021-07-29 14:35] #908 closed, assigned to wajda

[2021-07-29 14:35] #915 closed, assigned to wajda

[2021-07-29 14:35] #834 closed, assigned to wajda

[2021-07-30 07:16] #925 closed, assigned to wajda

[2021-08-02 08:42] wajda opened #931 "Operation output check is too restrictive"
Causes AbsaOSS/spline-spark-agent#264

The following check constraint in `ExecutionPlanPersistentModelBuilder` doesn't assume existence of outputs schema with no attributes (`[]`).

[code]

But there are some specific cases when this can be valid. For instance, when a data frame is created by selecting literals from an empty data frame.

[code]

Technically the execution plan could start from a `S

[2021-08-05 11:58] wajda commented on #931
The fix requires changing in a Producer model to distinguish between an empty schema and an undefined schema.
Remediation will be implemented in the agent AbsaOSS/spline-spark-agent#264 instead and this issue will be moved to 1.0.0

[2021-08-05 18:02] wajda opened #932 "Slow performance of the event list query"
[code]

[2021-08-05 18:02] wajda commented on #932
Related issue - https://github.com/arangodb/arangodb/issues/14592

[2021-08-05 18:02] wajda commented on #932
Explain:

[code]

[2021-08-07 02:25] yang-shuaijun opened #933 "Spline rest gateway status is 404 service not found."
## Describe the bug
Dear Team,
I deploy the spline by docker and tomcat 10.0. But the spline rest gateway always shows:
status: 404 service not found.

Could you do me a favor to check it?
## Versions
0.6.1

## Components State
The arangodb has been initialized by admin-0.6.1.jar. The result was done.

## To Reproduce
I strictly followed the spline doc to run docker and checked the docker logs.

m

[2021-08-07 05:42] #933 closed, assigned to nobody

[2021-08-07 05:43] yang-shuaijun commented on #933
I located the root cause.

[2021-08-07 09:46] jbadeau opened #934 "Beam support"
## Question
As Apache Beam can run pipelines on Spark. Will Spline agents work if the beam pipelines are run on Spark?

[2021-08-09 09:05] #934 closed, assigned to nobody

[2021-08-09 10:17] pratapmmmec opened #936 "Optimised Query to fetch attribute level dependency for all target attributes for a given execution plan for 0.6.x Spline model"
## Background [Optional]
Currently Spline 0.6.x has  capability to track attribute level lineage (backward) for target data source. Spline UI has the capability which involves two clicks. First at the target attribute and then click on details.

## Question
@wajda
We are looking for AQL to fetch attribute level dependency for all attributres of target datasource in an optimal way for a given event

[2021-08-09 11:52] wajda commented on #936
I'm not sure I understand your question. Spline doesn't collect your data, it only collects metadata.
To query the lineage you need to operate with the Spline data model entities. See below.

![image](https://user-images.githubusercontent.com/795479/128700980-f894894f-665c-4d81-92b8-f6ce4b566ffc.png)

# Entity Definitions
## Nodes
### Progress
(top-level entity)
Describes the fact (and optionally

[2021-08-09 11:53] #936 closed, assigned to nobody

[2021-08-09 12:05] wajda opened #939 "Slow performance of the Dataset list query"
- missing index on `dataset._created`
- `"dataSourceName": REGEX_MATCHES(...)` can be calculated on insert and accompanied with an index.

[2021-08-12 11:29] picomy opened #943 "J2EE artifacts deployment was failed"
## Background [Optional]
I deployed the spline 0.6 by J2EE artifacts in Jetty 11. The rest gateway status is 400.

Arangodb: 3.8.0
Jetty: 11.0.x

Arangodb installation: RPM
arango-secure-installation --configuration /etc/arangodb3/arango-secure-installation.conf

java -jar admin-0.6.1.jar db-init arangodb://localhost/spline

export JETTY_HOME=/home/ec2-user/jetty-home-11.0.6
export JETTY_BASE=/hom

[2021-08-12 11:45] cerveada commented on #943
Check Jetty logs, there may be more info.

[2021-08-12 12:24] #913 closed, assigned to wajda

[2021-08-13 01:37] picomy commented on #943
2021-08-12 14:10:53.660:INFO :oejss.DefaultSessionIdManager:main: Session workerName=node0
2021-08-12 14:10:53.684:INFO :oejsh.ContextHandler:main: Started o.e.j.w.WebAppContext@5456afaa{ROOT,/,file:///tmp/jetty-0_0_0_0-8080-ROOT_war-_-any-3242122244764707844/webapp/,AVAILABLE}{/home/ec2-user/jetty-restgw/webapps/ROOT.war}
2021-08-12 14:10:53.694:INFO :oejs.AbstractConnector:main: Started ServerCo

[2021-08-13 02:21] picomy commented on #943
I replaced the Jetty 11.0.6 with Apache Tomcat 9.0.52. It worked well.

[2021-08-13 02:23] picomy commented on #943
Jetty 9, 10, 11 didn't support spline 0.6.

[2021-08-13 10:27] #943 closed, assigned to nobody

[2021-08-13 10:28] picomy commented on #943
It worked well with Tomcat

[2021-08-13 10:56] picomy opened #944 "WebUI wasn't able to work with kafka gateway"
## Background [Optional]

Startup Kafka gateway
port:7070

[code]

Startkup WebUI
port:9090

[code]
## Question
The Web Server  displayed: Server is unavaliable.
![Screen Shot 1400-05-22 at 18 49 33](https://user-images.githubusercontent.com/88126731/129346990-363ee43d-8888-4954-aab8-b5be682b031d.png)

[2021-08-13 11:12] cerveada opened #945 "Spline Server not working on Jetty"
According to #943 the server is not working on Jetty 11.

[2021-08-13 11:16] cerveada commented on #944
Please check Kafka gateway logs. Are there any errors?

[2021-08-13 11:34] wajda commented on #944
Kafka Gateway doesn't provide the Consumer API. You need to run REST Gateway as well.

We probably need to re-think how we split different APIs between apps.

[2021-08-13 11:45] wajda opened #946 "Break REST Gateway app into separate Consumer and Producer apps"
Motivation:
- Consumer and Producer are logically independent services that might require different resources and scaling patterns, as well as independent upgrades.
- Kafka Gateway doesn't expose Consumer API so users should run REST gateway anyway for the UI for work. It sometimes is confusing to the users - #944

[2021-08-13 16:16] wajda commented on #813
At the moment there is nothing that we could additionally check with the probs.
Both probs return `200 OK` as long as the Spring context is up, which means all required config props are defined and the app is ready to serve requests.
It automatically satisfies the _readiness_ prob. And for the _liveness_ there is no global app specific resource that needs to be additionally monitored (excepts to t

[2021-08-16 08:08] #939 closed, assigned to wajda

[2021-08-16 08:45] #932 closed, assigned to wajda

[2021-08-16 09:06] #813 closed, assigned to wajda

[2021-08-16 09:14] #931 closed, assigned to wajda

[2021-08-30 18:04] diegoeche opened #948 "Adding a Postprocessing filter (starting from scratch)"
## Background [Optional]
I'm working on a POC for spline where we want to add metadata using a Postprocessing filter.

* I'm using Docker.
* I have knowledge of the Scala language

This is probably a silly question out of the fact I haven't used java in ages, and I lost touch with the ecosystem :P

## Question

I have a Scala source code for a Postprocessing filter `CustomFilter.scala`.

I'm unsur

[2021-09-01 10:43] #906 closed, assigned to wajda

[2021-09-01 13:13] #921 closed, assigned to wajda

[2021-09-02 10:37] wajda opened #951 "Document version strategy"
Make it clear in the doc that we use SemVer and what is the Public API in terms of SemVer.

[2021-09-02 14:07] wajda commented on #889
As it turns out Tomcat slim image is already quite compact where the largest part is the OS layer. So no further image size optimization is needed at this stage IMO

[2021-09-02 14:08] wajda commented on #889
I'll replace JDK with JRE and use `-slim` base image

[2021-09-03 08:16] #889 closed, assigned to wajda

[2021-09-06 16:19] wajda opened #954 "Optimize transaction size + ACID on cluster"
For performance and scaling reasons it's important to keep ArangoDB transaction small. Currently we insert the entire execution plan graph in a single transaction which sometimes may take longer than necessary depending of the number and size of nodes being inserted.
To reduce the transaction size to the minimum we could insert majority of documents non-transactionally, and close the action by ins

[2021-09-07 08:46] wajda commented on #932
Yes, it works perfect now! Thank you very much!

[2021-09-08 13:20] wajda opened #955 "Remove redundant asObservable"
`Rx.Observable.asObservable()` method is redundant throughout the code because the problem the method aims to solve at runtime is solved at the compile-time by _TypeScript_ type system.

[2021-09-09 08:10] cerveada opened #956 "Kafka default timeout set to 0 by default"
`spline.kafka.insertPlanTimeout`and `spline.kafka.insertEventTimeout` is 0 by default.

This is caused by JNDIDataSource reading from `context.xml` where the value is missing.

### Workaround
set the properties manualy and overwrite the dafult.

[2021-09-09 09:37] wajda commented on #956
Discussion notes:
- it happens because of `<Environment type="java.lang.Long">` defaults to `0` instead of `null`
- changing the type to `java.lang.String` fixes it, because string property defaults to `null` and type conversion happens implicitly.

[2021-09-12 09:56] jbadeau opened #958 "egeria & https://openlineage.io/"
Hello,

Do you guys have any plans to integrate with

* [openlineage](https://openlineage.io) a subproject of [egeria](https://github.com/odpi/egeria) ?

This would prob reduce or eliminate the need to maintain agents and spline public model.

It seems to be trying to do what opentelemetry is doing for observability.

[2021-09-12 12:26] #958 closed, assigned to nobody

[2021-09-15 23:12] #956 closed, assigned to cerveada

[2021-09-23 15:23] wajda opened #961 "Consumer API: Incorrect execution event properties"
- `durationNs` is always `null`
- `append` defaults to `false` where `null` is expected
- `timestamp` defaults to `0` where `null` is expected

[2021-09-23 15:31] wajda opened #962 "Consumer API: Data Source list - "Last Execution" related properties should be optional"
If a _Data Source_ isn't associated with any _Write_ the respective booleans and numbers don't have any sense and only confuse users.

[code]

[2021-09-28 17:55] lbiddau68 opened #963 "problem with SPARK-SQL"
we are not able to feed spline with lineage with SPARK-SQL
lacunching a scala job with SPARK-SUBMIT everything is ok.

we are running on HDP-3.1.5.0

spline 0.5.6
spark 2.3.2
hive 3.1

spark-sql
--master yarn
--deploy-mode client
--driver-memory 12g
--executor-memory 32g
--num-executors 16
--executor-cores 5
--jars /spark-2.3-spline-agent-bundle_2.11-0.5.6.jar
--conf spark.sql.queryExecutionListen

[2021-09-29 08:15] #944 closed, assigned to nobody

[2021-09-29 08:17] #904 closed, assigned to nobody

[2021-09-29 12:05] wajda commented on #945
Fixed for Jetty 9.

However Jetty 10 and 11 uses different Servlet API versions and don't seem to be backward compatible. Spline currently uses Servlet API 3.1. Hence no support for Jetty 10+ at the moment.

[2021-09-29 13:33] wajda commented on #943
fixed for Jetty 9, in Spline v 0.7.2

[2021-10-01 13:30] wajda commented on #726
Since introducing a separate `Operation.name` property in Spline 0.6 this issue is no longer valid.

[code]

[2021-10-04 07:58] #951 closed, assigned to wajda

[2021-10-04 07:58] #945 closed, assigned to wajda

[2021-10-04 07:58] #474 closed

[2021-10-04 08:32] #961 closed, assigned to wajda

[2021-10-04 08:32] wajda opened #969 "Consumer API: Data Source filters are counter-intuitive"
Currently the _Last Executed_ relation is __outer__ joined to the _Data Source_. It usually makes sense unless at least one of the _Execution_ related filters is applied to the query. In that case the logic should correspond to an __inner join__ instead.

For example, when I as a user enable the `datetime` filter I expect to only see those data sources whose associated _Last Executed_ event satisf

[2021-10-04 11:10] wajda opened #971 "Do not calculate timestamp range unnecessarily"
Consumer API requests calculate _total timestamp range_ facet unconditionally. The client (UI) however doesn't need it for certain types of frequent queries (e.g. polling the server for updates). To avoid wasting resources on this expensive calculation we need to add a query parameter that would enable _total timestamp range_ facet on demand.

[2021-10-06 13:52] cerveada opened #973 "Add Expresion and Attribute support in read/write params"
Since Spark Agent 0.6.3 Expressions and Attributes can be present in read and write operations.

This doesn't cause any issues, but UI doesn't show all available information and/or shows them as raw data.

[2021-10-07 20:27] #971 closed, assigned to wajda

[2021-10-07 20:30] #969 closed, assigned to wajda

[2021-10-10 01:16] wajda opened #974 "java.io.IOException: Stream closed"
The issue was introduced in #945 (97858974e3c13114608459e6166f0746064c3e71)

[code]

[2021-10-10 02:05] #974 closed, assigned to wajda

[2021-10-11 08:31] alessandromas opened #976 "Switch to HTTPS"
I'm actually running the 0.5.6 version of Spline installed via WAR deployment on Tomcat ( CentOS )

For security reason i need to know if is it possibile to use the HTTPS protocol instead of HTTP mainly for rest gateway. A nice have would be to have the same switch for GUI and Agent

Is there a way? If so, how can i do that?

[2021-10-11 08:51] #976 closed, assigned to nobody

[2021-10-12 11:07] wajda opened #978 "ExecutionPlan UUID collision handling"
This is an extreme precaution to remedy for the practically improbable but still theoretically possible UUID collision.

In the _Producer Model_, we could have a special property (like a checksum but selected by the user) that would serve as a business identifier, and would be included in both _Execution Plan_ and _Execution Event_ entities. The possible collision then could be detected by compari

[2021-10-12 19:42] wajda opened #979 "Swagger: durationNs should be number, not object"
"durationNs" is defined as `object` in the `producer.swagger.json`, while in Scala it's defined as `Option[Long]`

[code]

[code]

[2021-10-18 10:56] VishweshwarKammari opened #980 "Spline UI "Server is not available" in the execution events and Data Sources section"
I have deployed spline on master node of EMR for a POC. I have followed the process as per the documentation for docker deployment. I don't see any errors in the logs. Able to see spline rest server, spline ui on the respective ports. I have started a pyspark shell using the spark agent jar as below. I can not see any lineage generated in ui. It is displaying server error "Server is unavailable".

[2021-10-18 12:17] wajda commented on #980
Open a development console in your browser (F12) and look at the Network tab. You probably have the server IP inaccessible for your browser.

[2021-10-18 12:19] #980 closed, assigned to nobody

[2021-10-18 23:39] wajda opened #982 "Consumer API :: Execution node detailed info"
To get a detailed info about the selected execution node on the lineage overview page, the UI has to construct the write operation ID using the hard coded ID pattern and query the detailed info using `/operations` resource.
The problem is that there is no stable convention about the operation ID format, hence the client cannot reliably fetch the execution node details.
We need to either introduce

[2021-10-19 18:46] wajda opened #983 "AQL: collection not known to traversal: "dataSource""
[code]

[2021-10-20 13:23] wajda commented on #885
Closing the ticket as "cannot reproduce"

[2021-10-20 13:23] #885 closed, assigned to nobody

[2021-10-20 13:31] wajda commented on #893
The issue is fixed in Spline Agent 0.7.0 by making the agent output deterministic. In combination with idempotent behavior of the server deduplication of execution plans happens naturally by discarding duplicated messages on their arrival.

See AbsaOSS/spline-spark-agent#323

[2021-10-20 13:31] #893 closed, assigned to nobody

[2021-10-20 13:33] #983 closed, assigned to wajda

[2021-10-20 22:33] wajda commented on #979
Filed an issue against the Swagger generator tool - AbsaOSS/rest-api-doc-generator#6

[2021-10-20 22:51] wajda commented on #979
It happens apparently because Scala compiler represents Scala primitive types as object types in bytecode.

For example:
[code]

The simplest solution would be to replace `Option[Long]` with `Option[java.lang.Long]` in the REST model.

[2021-10-21 10:31] #979 closed, assigned to wajda

[2021-10-22 12:45] #978 closed, assigned to wajda

[2021-10-22 13:02] wajda opened #987 "Remove a workaround for ArangoDB Java drive bug"
https://github.com/AbsaOSS/spline/blob/release/0.7/producer-services/src/main/scala/za/co/absa/spline/producer/service/repo/ExecutionProducerRepositoryImpl.scala#L47

Change the type parameter from `Any` to `String` and remove unnecessary mapping when arangodb/arangodb-java-driver#411 is merged

[2021-10-22 18:46] wajda commented on #978
Added property `discriminator` for the above purpose.
In case of collision an exception is thrown. I didn't implement any special backlog for the collided data.
If the lineage was sent via Kafka, the failed message would be sent to an error topic, so the collided lineage data will be persisted there. If the REST endpoint is used the collided lineage will be discarded on the server, but the agent w

[2021-11-22 09:40] pratapmmmec commented on #684
@wajda  Do we have any workaround as of now?
Our lineage is now growing at ~ 2GB on daily basis and its getting difficult to sustain at this rate. Ours is a 24 X 7 workload running all days. We are fine if the lineage older than 20 days is broken and to handle it we will can limit on pagination query to go back only for 20 days at max.

[2021-11-22 09:52] wajda commented on #684
Yes, the blocking ArangoDb issue has been resilved and we'll return to this ticket soon.

[2021-11-27 11:23] abrs907 opened #989 "IP address issue in docker-compose"
Greetings,

It seems that the IP addresses for the ArangoDB and Spline core containers differ from what's in docker-compose.
Arango now seems to run on 172.17.0.2
And Spline is on 172.17.0.3
Changing these accordingly in the docker-compose resolve the connectivity issues.

A strange observation.
ARANGO_DB_PORT is set to 8529
But when the curl command was echo'ed, it was connecting to 8530?
Not sur

[2021-12-28 01:32] Taurus-Le commented on #933
Dear Yang，
Could you kindly share your solution？I ran into the same problem. What's different in my situation is that I did not deploy with docker. I followed the doc here trying to run spline as Java application.
https://absaoss.github.io/spline/#start-spline-server
I deployed tomcat 10.0.14 and downloaded the rest-gateway-0.7.5.war. However when I did the rest of the doc asked, I got the same er

[2021-12-28 13:29] wajda commented on #933
Take a look at the server log, it might shed some light.

[2021-12-28 13:36] wajda commented on #933
From the screenshot above, the Spline web app is deployed into a 2nd-level context `/spline/rest` that apparently causes some URL mapping issues.
Try to deploy it into the root or a 1st-level context (like `/spline-rest`)

[2021-12-28 13:46] wajda opened #998 "REST API :: 404 when deployed into a nested sub-context"
Original issue #933

When REST webapp is deployed as `/spline/rest` the URL mapping is somehow broken.

[code]

[2022-01-04 06:56] Taurus-Le commented on #933
Dear @wajda ,
I renamed the spline-rest-server.war to ROOT.war and placed it under webapps of tomcat with the original one deleted. The issue remains. Please let me know if I made any mistake.
![企业微信截图_16412783405737](https://user-images.githubusercontent.com/44567815/148020894-83c1a666-62f4-48b7-be84-1bb7df513027.png)

[2022-01-04 09:16] Taurus-Le commented on #933
Dear @wajda ,
I seemed to figure it out. I built from source with docker and followed the [step-by-step instructions](https://absaoss.github.io/spline/#step-by-step). Everything worked just fine. It really confused me. I thought the trick might have something to do with the dockerfile. The version of tomcat in the dockerfile caught my attention. I installed tomcat 9.0.56 and tried running spline a

[2022-01-07 12:39] wajda opened #1000 "Consumer API :: Improve search performance"
Replace string search with the index search

[2022-01-07 12:41] wajda opened #1001 "Replace pagination with cursor"
Also get rid of AQL "fullCount = true"

[2022-01-11 07:44] vchichil97 opened #1003 "Cannot send lineage data .... Read timed out error"
I am trying to integrate my spark jobs with spline. Added the below dependency
<dependency>
    <groupId>za.co.absa.spline.agent.spark</groupId>
    <artifactId>agent-core_2.12</artifactId>
    <version>0.6.1</version>
</dependency>

**Error :**
WARN za.co.absa.spline.harvester.dispatcher.CompositeLineageDispatcher: Proceeding after an error occurred in an underlying dispatcher: za.co.absa.spline.

[2022-01-11 07:51] cerveada commented on #1003
What is happening on the server side? Are there any errors?

[2022-01-18 05:07] abhishekshenoy commented on #1000
@wajda Currently as we store all the execution plan data t, would it help to have calendar search option from the UI which by default only looks back 10 days

[2022-01-18 05:30] vchichil97 commented on #485
@wajda @cerveada Any update or fix for this bug ? getting read timed out exception while the json is getting posted to spline

[2022-01-18 10:19] wajda commented on #1000
Not sure I understand what you mean, but the date range filter is implemented and is optional and covers the full range of available metadata by default. If it's not, it would be a bug.

[2022-01-18 10:31] wajda commented on #485
Sure, we're going to focus on the performance aspects of the system in the next couple of months, so you might expect upcoming Spline 1.0.0 to be significantly more performant.

But because the overall performance depends on a number of factors including the size and structure of a particular execution plan(s) being ingested into Spline, it would greatly help us if you could provide a sanitized sa

[2022-01-19 16:53] mikemowgli opened #1004 "How to disable ssl validation when Rest server connects to ArangoDB"
## Background [Optional]
I used the ArangoDB operator to deploy on Kubernetes. By default, it exposes the DB on an SSL protected endpoint, using a self-signed certificate. I'm able to create the spline DB with spline-admin using the "--disable-ssl-validation" flag, but it isn't documented how the Rest server could disable ssl validation. At the moment, the rest server fails to connect to the DB wi

[2022-01-20 08:01] mikemowgli commented on #1004
Also note that I've tried `vst+ssl` instead of `arangodbs`, but then the error became: ` Caused by: java.net.MalformedURLException: vst+ssl://root:<REDACTED>@spline-db:8529/spline (of class java.lang.String)`

[2022-01-20 12:16] mikemowgli commented on #1004
I figured how to do it by using the (AFAIK) undocumented environment variable `spline.database.disableSslValidation=true` by looking here in the code: https://github.com/AbsaOSS/spline/blob/develop/persistence/src/main/scala/za/co/absa/spline/persistence/ArangoRepoConfig.scala#L66

[2022-01-20 12:16] mikemowgli commented on #1004
I'm leaving this open in case the maintainer wants to update the doc.

[2022-01-20 12:38] wajda commented on #1004
The URL format is the same as in the admin - use `arangodb://` for plain or `arangodbs://` for secured connection. It's _not_ the name of the ArangoDB protocol. Under the hood it uses both VST and HTTP depending on the type of request (AQL/Foxx). For secured connections it's VST+SSL and HTTPS respectively.

Updated - https://absaoss.github.io/spline/#configuration
`SPLINE_DATABASE_DISABLE_SSL_VALI

[2022-01-27 12:02] wajda opened #1009 "Remove obsolete producer model v1.1"

[2022-01-27 13:56] AdrianOlosutean opened #1011 "Add Test Data Generator Module"
## Background
In order to conduct performance and stress testing for Spline Producer API, a sample data generator is needed.

## Feature
Create the module for generating testing data for Spline producer

[2022-01-31 20:40] wajda opened #1013 "POM: The Producer model should declare `validation-api` as a runtime dependency"
Producer model uses `ValidationUtils` class form the Spline Commons module that in turn optionally depends on Jakarta validation API. Modules that refer Producer API but not Validation API compile, but fail at runtime with:
[code]

[2022-02-04 16:31] wajda opened #1016 "Docker :: launch processes with an unprivileged user"
According to the Dockerfile best practices we should __not__ launch processes with a `root` user:

[code]

[2022-02-07 08:06] AdrianOlosutean opened #1017 "Data Generator Enhancement"
## Feature
Enhance Test Data Generator with features for creating different kind of lineages

[2022-02-09 09:20] zhukovgreen opened #1018 "Status 503 Unexpected server error on Data Source tab"
## Background [Optional]
We have on-premise server installation on AWS. The server is:

Version:
0.7.3
Build Revision:
b16930c
Build Date:
2021-12-06

Today we started to receive the issue with the Status 503 if we click on Data Source tab.

<img width="857" alt="image" src="https://user-images.githubusercontent.com/10520003/153163114-bd67bd87-0e70-4e8f-be9b-d21190118e4c.png">

## Question

Please

[2022-02-09 09:28] cerveada commented on #1018
Can you check the server log? There should be a corresponding error with the same error id.

[2022-02-09 10:50] zhukovgreen commented on #1018
@cerveada Thx. I'll update on the result

[2022-02-10 04:23] Taurus-Le commented on #933
And I figured out the reason setting spline database connection URL in context.xml under $CATALINA_HOME/conf did not take effect. It was overriden by the same entry in rest-server/META-INF/context.xml. Sorry for my mistake.

[2022-02-12 20:07] sarg90 opened #1021 "pyspark job aborts after trying to connect to host.docker.internal"
Hi, Im trying to run a local pyspark integration with spline using agent bundle spark-2.4 as Ive seen is the one with more test cases.
The task fails with this as first error:
[code]
Im stuck in here as I dont get why spark driver switch to a host.docker.internal ip when I run with the agent bundle and config:
[code]
If I run the job without bundle and extra config it runs fine.

Im using Dockeriz

[2022-02-14 09:59] abhineet13 opened #1022 "Data Sources "Lineage" and "Impact" metrics"
## Describe the bug
Data Sources "Lineage" and "Impact" metrics not getting generated for Spark job.

## Versions
Spline: spark-3.0-spline-agent-bundle_2.12-0.7.2
Spark: 3.0.0
Scala: 2.12

## Components State
Describe the state of different Spline components (Agent, REST or Kafka Gateway, UI, ArangoDB).
- Where the problem manifests itself?
Execution plans are getting generated, data source attrib

[2022-02-14 11:24] wajda commented on #1022
It's not implemented yet. We're working on it.

[2022-02-14 13:24] abhineet13 commented on #1022
Hi Alex, thanks for the update, by when will this feature be available?

On Mon, Feb 14, 2022 at 5:28 PM Alex Vayda ***@***.***> wrote:

--
Thanks
Abhineet
7619525021

[2022-02-14 13:42] wajda commented on #1022
I cannot tell. The "Lineage" tab shouldn't be difficult to add as we could probably use the existing REST call for that, but the "Impact" API part should be implemented on the server first. Currently we are focusing on the non-functional aspects of the project, like stability, performance, scalability etc. which are higher priority tasks for us at the moment. I'll keep an eye on this ticket and wi

[2022-02-14 15:05] abhineet13 commented on #1022
Great thanks, agree, lineage will be nice to have, impact is not a
high priority as it can be derived from lineage.

On Mon, 14 Feb, 2022, 19:13 Alex Vayda, ***@***.***> wrote:

[2022-02-15 07:42] abhineet13 opened #1023 "Is it possible to get count of records for data sources?"
## Background [Optional]
Similar to spark UI which shows count of records for each stage, would like to understand if counts can be available for spline lineage.

## Question
Hi, Is it possible to get count of records for data sources and before/after transformations like filter, join?

[2022-02-15 09:20] abhineet13 opened #1024 "Get dates of execution plans on lineage diagram"
## Background [Optional]
We would like to know the dates each execution plan on the lineage diagram was executed, this helps debug any pipeline issues.

## Question
In the attached lineage diagram, execution plan 1) is source for 2).  Is it possible to know the date of 1) plan generation?

<img width="1680" alt="Screenshot 2022-02-15 at 2 08 31 PM" src="https://user-images.githubusercontent.com/10

[2022-02-15 17:33] sarg90 commented on #1021
Everything running smoothly now. My issue was that spark driver was being redirected to docker host ip and firewall was blocking file read and transfer. I manually set the spark driver to localhost and solved the issue.

[2022-02-15 20:45] #1021 closed, assigned to nobody

[2022-02-16 08:22] abhineet13 opened #1026 "Notifications for lineage change"
## Background [Optional]
Hi, we would like to be alerted for any changes to the lineage of an ETL job like changes in data source path/attributes or transformations.

## Question
Is there a way to get alerts/notifications for changes to a Lineage?

[2022-02-16 12:59] wajda commented on #1026
Thanks for the suggestion.
In theory, yes. But in practice it needs more precise definition of what is considered a change in _lineage_. In Spline, lineage is represented by a combination of execution plans and execution events. Currently, any minor logically irrelevant change in the execution plan (e.g. an extra  user metadata, or a timestamp somewhere) would lead to creating another instance of

[2022-02-17 19:02] Mjlgh commented on #1026
[abhineet13](https://github.com/abhineet13),

We're interested in this feature as well.  We recognize there's a fair amount of complexity in this as it requires some choices to be made about what constitutes a change.  Today we're writing Spline's generated lineage to our enterprise data catalog and plan to create a hash as part of the identifier for that lineage on the attribute paths created, ig

[2022-02-18 05:33] abhineet13 commented on #1026
Thanks @wajda and @Mjlgh for your response.

[2022-02-21 16:21] wajda commented on #954
In addition to the need of reduction of the transaction size, we need to manage _Atomicity_ and _Isolation_ properties on the application level (due to lack of such guarantees in case of using ArangoDB cluster deployment)

[2022-02-22 16:22] wajda opened #1030 "DB :: Remove unused named graphs"

[2022-02-28 14:54] ganeshnikumbh opened #1033 "Accept, Process and show lineage events created using openlineage agent"
## Background
just like spline agent, openlineage also provides an api to send lineage events to a http endpoint. Although openlineage provides the [Marquez ](https://marquezproject.github.io/marquez/) service for the collection, aggregation, and visualization of the metadata, it is not as good as spline server+ui.

## Feature
Enhance the spline server to accept, process and show the lineage event

[2022-02-28 15:57] wajda commented on #1033
Yes, we recently discussed this capability and we'll put in on the roadmap as soon as the PoC is completed. There are fundamental differences between OpenLineage model and Spline model that cannot be covered by simple transformation. In particular, Spline model is immutable and it doesn't have a notion of a job state (started, finished etc). Instead Spline is assumed to process information, when j

[2022-03-01 21:31] jbadeau commented on #1033
I'm sorry for the late reply. I was away from the topic for a while. It might be a good idea to introduce your project at

https://twitter.com/openlineage/status/1498424686874607618?s=21

Could maybe find some ideas, help, etc.

Cheers

[2022-03-02 14:48] wajda commented on #1033
Thanks for suggestion, we'll keep an eye on it.
I've recently tried to open conversation [here](https://github.com/MarquezProject/marquez/issues/1743). But as the reply states and we concluded the same during our internal team discussion - first step for us would be to implement the OpenLineageAPI support, and then we'll re-asses if there is anything that makes practical sense for both projects to

[2022-03-02 15:12] wajda commented on #1033
The biggest benefit that I see right now is to make Spline Server to understand OpenLineage format and accept events from a variety of OpenLineage compatible agents, effectively expanding the data tools and frameworks coverage. This will allow for coarse-grained data-lineage tracking from heterogeneous data-pipelines and will likely increase Spline Server ability to play a role of  a Central linea

[2022-03-07 10:55] wajda opened #1034 "Consumer API :: Data Source :: multi-value `append` filter"
According to AbsaOSS/spline-ui#179 the filter `append` on a data-source resource should accept any combination of values:
- `true` (append)
- `false` (overwrite)
- `null` (no writes / read-only)

[2022-03-07 23:13] wajda opened #1036 "Consumer API :: Improve error logging"
When the REST API returns an error the error message should be more self-explanatory than e.g. "an exception occurred", or "filter predicate not satisfied"

[2022-03-11 13:18] AdrianOlosutean opened #1039 "Test Data Generator limited ranges"
## Describe the bug
When specifying ranges as values in the generator, it rejects some values, notably when > 99

[2022-03-14 07:22] abhineet13 opened #1041 "Data source name format"
## Background [Optional]

Hi, the data source tab lists data source name as the last string in storage path, for example
spark.read.parquet("s3://bucket/folder/partition=2020-01-01") will have a data source name of "partition=2020-01-01" and
val df= spark.read.parquet("s3://bucket/folder")
df.createOrReplaceTempView("df")
spark.sql("select * from df where partition=2020-01-01") will create a data

[2022-03-15 10:22] wajda commented on #1041
Unfortunately, it all depends on what the agent provides. The UI representation is as good as the metadata that Spline server receives.
In your example Spark actually sees two different datasource URIs according to what is provided to the _Read_ operation. The UI  simply shown the last portion of the URI as a short name as it simply doesn't have any more precise information.
We expect this problem

[2022-03-15 10:22] #1041 closed, assigned to nobody

[2022-03-17 21:34] abhishekshenoy commented on #485
@wajda we are facing the below exception when we try to save large lineages .

We are currently using 0.7.5 spline , 0.7.2 spline spark agent.

We tried setting some spring paramters to prevent  AsyncRequestTimeout but still could not get rid of this issue . During high load we see lot many requests fail with the below error. Is there a way how  we can increase the AsyncRequestTimeout ?

[code]

[2022-03-17 22:44] wajda commented on #485
I've never tried it myself, but in theory this should help.
In the agent project, on the line [`RestClient.scala:51`](https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7.2/core/src/main/scala/za/co/absa/spline/harvester/dispatcher/httpdispatcher/rest/RestClient.scala#L50)
add the following:
[code]
and then configure desired timeouts:
[code]

Please let me know if it works, I'll make acc

[2022-03-21 03:22] abhishekshenoy commented on #485
@wajda from what i see there is already connection and read timeout being set on the RestClient
[code]
The AsyncRequestTimeout was not allowing any Lineage to get published nor was the UI responsive (Consumer APIs was also failing).

I did the change you mentioned but that was still failing with AsyncRequestTimeout , on restarting the gateway , was able to continue publishing lineages and the UI w

[2022-03-21 11:35] wajda commented on #485
The problem with the timeout issue was that it's the server that timed out, not the agent. The code above controls the agent side timeout only. On the other hand the REST protocol allows sending the `X-SPLINE-TIMEOUT` header to request the desired timeout on the server side for the given HTTP request. So basically, with that header you control the server side timeout. The updated agent version has

[2022-03-21 11:57] wajda opened #1043 "REST: Max timeout config option"
Spline supports `X-SPLINE-TIMEOUT` HTTP request header to control the server side timeout by clients. A server admin should be able  to limit the max timeout length in order to protect the feature against misuse.

Related to: AbsaOSS/spline-spark-agent#417

[2022-03-22 10:02] abhineet13 opened #1044 "Collection attributes mapping to Spline UI"
## Background [Optional]
Hi
We are writing AQLs on Arango Spline db to read the execution plan in tabular format and could not find certain fields like
1.) "Type" (JDBC)
2.) "Destination" of "type" for jdbc,  jdbc string shows on UI but could not figure which collection has this information.
3.) "Executed at" on spline UI

## Question
Is there a document mapping Arango collection attributes to Spl

[2022-03-22 10:41] #1044 closed, assigned to nobody

[2022-03-23 17:28] wajda opened #1048 "Admin CLI :: Specify collection props"
We need to specify the following collection properties when creating a database:
1. numberOfShards
2. shardKeys
3. replicationFactor
4. waitForSync

[2022-03-23 17:29] wajda commented on #1048
@dvagapov

[2022-03-24 16:00] wajda opened #1049 "Admin CLI :: 401 not authorized when user password is empty"
On the default ArangoDB setup (user `root` with no password) the following command

[code]
gives this
[code]

[2022-03-24 16:02] wajda commented on #1049
The problem is that the basic auth token is created with password `null` while the server expect is to be empty string.

[2022-03-24 16:51] wajda opened #1050 "Selectively disable ArangoDB active failover feature on the driver"
At the moment the `ArangoDatabaseFacade` unconditionally activates `aquireHostList` on the ArangoDB driver which is used for _active failover_. This leads to issues when ArangoDB is deployed in a cluster mode. For example in Kubernetes Spline is supposed to communicate to the the database via a service IP, not directly to pods, but with enabled `aquireHostList` the driver would fetched the direct

[2022-03-28 16:33] wajda opened #1053 "Fix compilation warnings"
- [x] [WARNING] /home/wajda/Projects/spline/commons/src/main/scala/za/co/absa/spline/common/JsonPath.scala:37: non-variable type argument String in type pattern scala.collection.immutable.Map[String,_] (the underlying of Map[String,_]) is unchecked since it is eliminated by erasure
- [x] [WARNING] /home/wajda/Projects/spline/commons/src/main/scala/za/co/absa/spline/common/JsonPath.scala:38: non-va

[2022-03-28 18:03] wajda commented on #1053
Also this
[code]

[2022-03-28 18:19] wajda opened #1056 "Disable active failover mode (partial backport of #1050)"
Because of impact of #1050 (that is fixed in 1.0.0) the active failover mode has to be disabled in 0.7 version series.

[2022-03-30 12:29] cerveada opened #1063 "Spline doesn't compile under Java 8"
Method available only in Java 11 is used. `isBlank`

[2022-03-30 14:29] wajda opened #1066 "Update ArangoDB driver"
Update ArangoDB driver to ver 6.16.1

[2022-03-30 16:05] #1016 closed, assigned to wajda

[2022-03-30 16:05] #1049 closed, assigned to wajda

[2022-03-30 16:05] #1056 closed, assigned to wajda

[2022-04-02 23:25] #1066 closed, assigned to wajda

[2022-04-03 11:27] wajda opened #1068 "[Ignore] Test ticket - 1"
## Background [Optional]
A clear explanation of the reason for raising the question.
This gives us a better understanding of your use cases and how we might accommodate them.

## Question
A clear and concise inquiry

[2022-04-03 21:50] wajda opened #1069 "[Ignore] Test ticket - 2"
## Background [Optional]
A clear explanation of the reason for raising the question.
This gives us a better understanding of your use cases and how we might accommodate them.

## Question
A clear and concise inquiry

[2022-04-03 22:00] wajda opened #1070 "[Ignore] Test ticket - 2"
## Background [Optional]
A clear explanation of the reason for raising the question.
This gives us a better understanding of your use cases and how we might accommodate them.

## Question
A clear and concise inquiry

[2022-04-03 22:17] wajda opened #1071 "[Ignore] Test ticket - 3"
## Background [Optional]
A clear explanation of the reason for raising the question.
This gives us a better understanding of your use cases and how we might accommodate them.

## Question
A clear and concise inquiry

[2022-04-03 22:39] wajda opened #1072 "[Ignore] Test ticket - 3"
## Background [Optional]
A clear explanation of the reason for raising the question.
This gives us a better understanding of your use cases and how we might accommodate them.

## Question
A clear and concise inquiry

[2022-04-03 22:49] #1072 closed

[2022-04-04 17:57] wajda commented on #1033
@cerveada is working on a PoC of a project that would accept OpenLineageAPI requests, aggregate them and send them to Spline server. It will be a separate microservice built on Kafka Streams.

[2022-04-05 11:51] #1048 closed, assigned to wajda

[2022-04-05 13:11] karatugo opened #1075 "How to select the correct artifact for Spark version 3.2.1 and Scala version 2.12.15"
## Background [Optional]

I am trying to run the getting started guide's TL;DR part.

Check versions:

[code]

So, according to the instructions, for Spark version 3.2.1 and Scala version 2.12.15, we need to run the following command.

[code]

But this gives the following error.

[image:30D42D01-A30A-4B8D-9D88-EB860F62F847-459-00002B3C7335FD5C/Screen Shot 2022-04-05 at 16.06.23.png]

## Question
W

[2022-04-07 08:26] wajda opened #1076 "Error: 1466 - must not specify _key for this collection"
This started happening on cluster deployments on attempts to insert data after #1048 fix. The error is apparently related to the `dataSource` collection although the error message isn't specific about it.

[code]

fixes #1076

[2022-04-08 20:48] #669 closed

[2022-04-08 20:48] #737 closed

[2022-04-08 20:48] #982 closed, assigned to wajda

[2022-04-08 20:48] #987 closed, assigned to wajda

[2022-04-08 20:48] #1000 closed, assigned to wajda

[2022-04-08 20:48] #1009 closed, assigned to wajda

[2022-04-08 20:48] #1011 closed, assigned to AdrianOlosutean

[2022-04-08 20:49] #1013 closed, assigned to wajda

[2022-04-08 20:49] #1030 closed, assigned to wajda

[2022-04-08 20:49] #1034 closed, assigned to wajda

[2022-04-08 20:49] #1036 closed, assigned to wajda

[2022-04-08 20:49] #1039 closed, assigned to AdrianOlosutean

[2022-04-08 20:49] #1043 closed, assigned to wajda

[2022-04-08 20:49] #1050 closed, assigned to wajda

[2022-04-08 20:49] #1053 closed, assigned to wajda

[2022-04-08 20:49] #1063 closed, assigned to cerveada

[2022-04-08 21:16] #839 closed, assigned to cerveada

[2022-04-08 21:16] #840 closed, assigned to cerveada

[2022-04-11 09:04] #1076 closed, assigned to wajda

[2022-04-12 13:51] wajda opened #1078 "AQL query is not re-attempted on DatabaseException"
The query should be retired after the following exception, but it wasn't.
[code]

[2022-04-13 09:52] #1078 closed, assigned to wajda

[2022-04-26 14:58] wajda opened #1082 "Admin: 401 isn't intercepted with password prompt"
When the user credentials are not fully provided in the command line arguments and authentication fails on ArangoDB the admin CLI should ask a user to provide the credentials in the console.
However this doesn't happen in the recent admin CLI. Instead the 401 error is propagated and the app exits.

[2022-05-13 02:02] adcb6gt opened #1088 "How to get attribute level lineage "across" spark-jobs. through Spline-UI/AQL ?"
I've an application that sources data from upstream, processes it and then passes it to downstream.
The application does this using an in-house concept called "Workflows".
Workflows are nothing but a set of activities (that can be sequential or parallel). There is a start activity, then set of transformation activities (which can be sequential or parallel) and then an end activity.
Each activity b

[2022-05-13 09:13] wajda commented on #1088
From what I understand you are looking for an attribute-level lineage. Spline collects all necessary information (https://github.com/AbsaOSS/spline/issues/114) that is required to build attribute-level lineage, and actually shows the path in the boundaries of a single execution plan (go to the execution plan detail and click on any attribute in the operation details pane). However, the AQL query,

[2022-05-19 01:21] adcb6gt commented on #1088
Thanks @wajda for the pointers.
I did a detailed study on the data model you provided and also submitted multiple pyspark jobs and tried to understand how documents get stored in arango across different collections.
Below are the details I did and my follow-up queries based on it:

I've an input dataset consisting of 3 columns, say c1 (string), c2 (string) and c3 (int).
I've applied a lineage on i

[2022-05-25 07:45] abhishekshenoy commented on #1018
@zhukovgreen do you see something like the below exception?
<img width="1189" alt="Screenshot 2022-05-25 at 1 14 01 PM" src="https://user-images.githubusercontent.com/29061454/170208738-284e317e-dd4e-4f56-980c-6e8711971024.png">

[2022-05-25 12:19] zhukovgreen commented on #1018
Hi all, I can't login to the server, but recently we're receiving the following error:
[code]

[2022-05-25 13:05] cerveada commented on #1018
@zhukovgreen again this simply mean the agent was not able to connect to the server. So it's server issue or the network between. To fix this, you have to check the server and find out what is wrong there.

[2022-05-25 13:51] wajda commented on #1018
@abhishekshenoy
check your timeout settings, and make sure you are using the latest server and the agent versions.
https://github.com/AbsaOSS/spline-spark-agent/blob/release/0.7.8/core/src/main/resources/spline.default.properties#L38

[2022-05-25 13:52] #1018 closed, assigned to nobody

[2022-05-25 15:39] wajda commented on #998
Cannot reproduce it in 1.0.0. Closing the issue.

[2022-05-25 15:39] #998 closed, assigned to nobody

[2022-05-30 09:37] #1082 closed, assigned to wajda

[2022-06-08 13:17] wajda commented on #1088
@adcb6gt, I'm sorry for the late response.

According to your question:

In the Spline graph model, there is an edge `computedBy` that gives you an exact answer you are looking for.
While the `derivedFrom` edge shows the _attribute-to-attribute_ dependency skipping (or jumping over) the expressions on the path, the `computedBy` edge points to the very expression that was used to calculate values f

[2022-06-08 13:35] wajda commented on #1088
Regarding the `uses` edge, it is irrelevant (almost) for your task. The `uses` edge depicts expressions involved in the _Operation_ level computation, e.g. filtering expression in the "Filter" operation, or "orderBy" expressions in the "Sort" operation etc.
I said _almost_ irrelevant because precisely speaking it depends if you are interested in _data_ or _control_ lineage. Currently Spline focuse

[2022-06-08 13:37] #1088 closed, assigned to nobody

[2022-06-09 10:33] wajda commented on #1033
PoC is available here - https://github.com/AbsaOSS/spline-openlineage
We decided not to support OpenLineage standard directly on the Spline server for now, but instead implement the conversion/connection between OpenLineage and Spline as a separate service.

[2022-06-09 10:34] #1033 closed, assigned to cerveada

[2022-06-09 17:28] wajda commented on #1022
Closing the ticket as a duplicate of #540

[2022-06-09 17:28] #1022 closed, assigned to nobody

[2022-06-16 20:56] mi-my-sf commented on #485
@wajda Is there a way to configure the timeout properties on the Producer API server?  Perhaps there is an argument that can be supplied or an environment variable.  I am running the REST server in a Docker container.  Thanks.

[2022-06-17 12:17] wajda commented on #485
@mi-my-sf ,

`spline.[consumer|producer].timeoutDefault` - default async request timeout if one isn't specified by the client
`spline.[consumer|producer].timeoutMaximum` - async timeout threshold that is applied to both default and user requested timeout value.

Both properties are optional. By default, timeout is 2 minutes, and the maximum one is 1 hour

Also see the following comment
https://git

[2022-06-17 12:22] wajda commented on #485
The environment variable would be respectively:
`SPLINE_PRODUCER_TIMEOUT_DEFAULT` etc.

[2022-07-15 15:16] #1004 closed, assigned to nobody

[2022-07-18 10:07] vicharerohan07 opened #1094 "REST API producer"
## Background [Optional]
I was trying to call "/Producer" Api from azure Databricks. and this /Producer api is written in C#. I want to send the data to my c# Application and not to any DB. i have install spline agent compatible with the Azure Databricks Runtime versions. but whenever i ran some query and and i am enabling the lineage tracking in python the it gives me error that za.co.absa.spline

[2022-07-18 11:53] wajda opened #1095 "DataSource information enchancement"
### Discussed in https://github.com/AbsaOSS/spline/discussions/1093

<div type='discussions-op-text'>

<sup>Originally posted by **vishalag001** July 18, 2022</sup>
Currently, the **dataSource** collection only contains URI and the name is dependent on the URI(anything after the '/'). However a dataSource should ideally have a tableName, schema and related details.

In Spline, such information is

[2022-07-18 11:56] wajda commented on #1095
@vishalag001

Let's start with creating a piece of code that for the given data source, finds a better initial name than just a URI suffix. Take a look at the [ExecutionProducerRepositoryImpl.scala:56](https://github.com/AbsaOSS/spline/blob/develop/producer-services/src/main/scala/za/co/absa/spline/producer/service/repo/ExecutionProducerRepositoryImpl.scala#L56)
There you have a parsed execution p

[2022-07-20 10:46] wajda opened #1098 "Move AQL functions and Foxx services to separate modules"
Create separate TypeScript based modules for Foxx and AQL functions.

[2022-07-22 13:37] #1098 closed, assigned to wajda

[2022-07-28 14:58] Aditya-Sood commented on #684
hi @wajda

We are working to create a foxx service which will take care of Spline's arango collections cleanup, and the pseudocode for the same is as follows:

1. Based on a threshold value (say in days), remove all 'progress' documents (& 'progressOf' edges) older than the threshold days

2. Identify all orphan execution plans (to which no 'progressOf' edge points to)
	a. Delete all collections a

[2022-07-28 15:48] wajda commented on #684
@Aditya-Sood , thank you for your efforts! Yes that is roughly how it should work. There is however a few pitfalls that you need to be aware of:
1. > Identify all orphan data sources.

Remember that the DataSource has a _many-to-many_ relationship with the Read/Write operations and are inserted _before_ the operations that use them, so there is a risk to delete a data source that has just been cre

[2022-07-28 15:51] wajda commented on #684
Here's an old branch where I started adding data retention commands to the Spline Admin CLI - https://github.com/AbsaOSS/spline/tree/feature/spline-684-data-retention
Unfortunately due to a critical bug that was discovered in the ArangoDB during working on that functionality the work was suspended. The bug has been later resolved, so I believe we will soon resume the work on the feature. This is j

[2022-07-29 14:34] dk1844 commented on #540
The backend part of forward lineage (aka impact) on the service-side merged to `develop`. Note, that there is no UI support for this feature, yet.

[2022-08-02 11:48] dhanju123 opened #1101 "Unable to view the spline ui while running custom pyspark job"
We created a sample pyspark job and gave the spark-submit commands as following in ec2 instance

sudo ./bin/spark-submit --packages za.co.absa.spline.agent.spark:spark-3.1-spline-agent-bundle_2.12:0.6.1 --conf “spark.sql.queryExecutionListeners=za.co.absa.spline.harvester.listener.SplineQueryExecutionListener” --conf "spark.spline.lineageDispatcher.http.producer.url=[http://](http://localhost:9090

[2022-08-03 05:27] Aditya-Sood commented on #684
hi @wajda
Thank you for highlighting the issue with lack of transaction isolation!

As a workaround we have decided to extend the threshold filter from the progress events to both the executionPlan and dataSource collections as well - this should allow the cleanup script to ignore any pseudo-orphan objects that have been created recently, and pick only those objects which are at least thresholdDay

[2022-08-03 09:40] wajda commented on #684
Awesome! Thanks a million.

[2022-08-09 12:07] Aditya-Sood commented on #684
hi @wajda
We developed a straightforward script to iterate over all the collections, filter out relevant documents and then remove them; something like as follows:
[code]
However its execution turned out to be very slow, with the arangosh timing out during the processing of large collections such as `operation`

We tried restricting the purge window to just 1 days worth of data, but even then it t

[2022-08-09 12:59] wajda commented on #684
Did you try to create indices for `_belongTo` in all collections? Usually traversals are much slower than document style queries, especially on indexed attributes. That's why `_belongsTo` was created.

[2022-08-10 04:25] Aditya-Sood commented on #684
Oh I was under the impression that traversals would be much faster since all the relevant collections (vertices + edges) belonging to a particular plan are being picked up together in one go?

Thanks for clarifying, will re-try the original document queries script after creating an index on `_belongsTo` and update

[2022-08-10 12:46] wajda commented on #684
No, unfortunately it doesn't work like that. Traversals basically go node by node conditionally jumping over edges. They are good for querying _graphs_ not because they are faster, but because you don't have any other options and just have to travel through edges to find nodes you are looking for.

[2022-08-14 16:17] Aditya-Sood commented on #684
hi @wajda
adding indexes on `_belongsTo` on the the remaining collections did the trick, we were able to get all the queries to run within the default 20 min server timeout threshold

however the subsequent query to identify orphan dataSources seems to need much more time than that (despite the query attributes being indexed), so we are tweaking the timeout threshold to see if it can be made to co

[2022-08-14 17:45] wajda commented on #684
Just out of my curiosity, what's the size of your collections?

[2022-08-22 08:30] hugeshi commented on #684
Hi @wajda ,
Thanks for your contribution to this issue, I have kept an eye on this feature for a long time. It's quite tough to clean up data on a big dataset. I think it's the main reason why several people request the data retention feature.
what's the rough ETA of this feature?

[2022-08-22 09:04] wajda commented on #684
Unfortunately I cannot give any ETA. On one side, it's not a priority feature for our company at the moment. But, I can say that a lot of things are changing right now, and there is a chance for the project to receive some boost very soon. On the other side, as I tried to explain above this feature depends on another feature that introduces a set of fundamental changed to the way how transactions

[2022-08-30 14:25] #1017 closed, assigned to AdrianOlosutean

[2022-09-13 12:57] Madhan-RAGHU opened #1104 "Spline Data Lineage not working for BIG DATA TALEND ETL"
## Bug Description
I am trying to implement SPLINE data lineage for TALEND SPARK JOB (basically generates JAVA SARK code in background), I successfully initiating spark session with Spline jars , in Talend log I am getting message saying “**Spline successfully initialized. Spark Lineage tracking is ENABLED**”. But I am not able to see lineage in SPLINE UI , I also checked in SPLINE logs Talend not

[2022-09-14 11:59] wajda commented on #1104
Hi @Madhan-RAGHU,
Unfortunately the log output images that you've attached are too blurry and unreadable.
But please check the following answer, hopefully it will help - https://github.com/AbsaOSS/spline-spark-agent/discussions/394

[2022-09-21 06:21] Aditya-Sood commented on #684
hi @wajda
Apologies for the delay in response, we were caught up in some other tasks

Our total spline database size was around ~100GB on the system that we were trying to cleanup

We dealt with the `dataSource` objects deletion by taking two steps:
1. Trim down the `affects` and `depends` collections down to the target duration that we finally want, before initiating search for stale data sources

[2022-09-21 06:43] Aditya-Sood commented on #684
Following is the final cleanup script that we are using: https://gist.github.com/Aditya-Sood/ecc07c9f296dbdf03d4946c5d1b4efce

Could you please review the script and let us know if there are any changes that you would like?

Post that we would like to discuss integrating the cleanup functionality with the project, possibly as a configurable service added to the Admin utility

[2022-09-26 10:05] wajda commented on #684
Thank you @Aditya-Sood. I will review it this week and will get back to you.

[2022-10-03 08:21] wajda opened #1108 "README: Add Docker Hub pull count badge"
[code]

[![Docker Pulls](https://badgen.net/docker/pulls/absaoss/spline-rest-server?icon=docker&label=pulls)](https://hub.docker.com/r/absaoss/spline-rest-server/)

[2022-10-03 09:55] #1108 closed, assigned to wajda

[2022-10-07 05:12] mohitgarg4628 opened #1110 "Lineage not showing for overwrite mode for delta table"
## Describe the bug
We are trying to capture lineage using spline using overwrite mode.
Data format is delta.
We are running our workflow on databricks. When we are using mode as append, we are able to capture lineage

## Versions
Spark Version: 3.2
Spline Version: spark-3.2-spline-agent-bundle_2.12:0.7.11

Could you please help me for the same

[2022-10-07 10:05] #540 closed

[2022-10-10 15:00] wajda opened #1111 "Decompose lineage ingestion and search index update processes"
## Problem
- At the moment _Consumer API_ relies on certain redundant information that is stored in the _Progress_ and _DataSource_ nodes. It makes the _Producer_ services logically dependent on the _Consumer_ ones, which is an undesirable dependency.
- Also, the info stored in the _DataSource_ is transient and is updated every time a new adjacent edge is created. The update operation is not cover

[2022-10-13 09:18] wajda commented on #684
@Aditya-Sood, we've reviewed your script and found it generally correct. But I've got a few minor questions/suggestions about it:
1. Stage 1:
    - `FILTER progEvent.timestamp` vs. `FILTER progEvent._created` in the `FOR progEvent IN progress`. The difference is that `timestamp` denotes the _event_ time, while `_created` denotes the _processing_ time. Although having a large enough time window the

[2022-10-14 15:41] #954 closed, assigned to wajda

[2022-10-14 16:50] varshithvvs opened #1112 "Need Help to understand how to setup spline with Kedro"
## Background
Hi I'm trying to integrate spline with my kedro pipeline which uses pyspark (Attached here is the [link](https://kedro.readthedocs.io/) to Kedro's documentation on how it works ) by adding these configuration parameters in spark.yml ( [Link of sample project I'm playing around ](https://github.com/quantumblacklabs/kedro-starter-pyspark-iris/tree/master/%7B%7B%20cookiecutter.repo_name

[2022-10-17 04:55] varshithvvs commented on #1112
Update:

I have ried debugging the issue, following is a snapshot from spline rest server. Below is the log from the same:

[code]

I think this is causing the issue:

[code]

P.S : I have tried both spline v0.6 and 0.7 setup, since I was using spark 2.4.7 not sure if that was causing all the trouble. Also any quick help is appreciated, I'm running against a deadline

[2022-10-18 13:09] wajda commented on #1112
The server log is absolutely OK.
`No mapping for GET /producer` warning is also OK and I think is caused by your attempts to open `/producer` URL from curl or a browser. There is indeed no GET mapping for this URL - it is not designed for reading info from it and only supports POST requests.

The reason why you don't see lineage is most likely lying on the agent side. Please try to get the Spark l

[2022-10-19 11:59] wajda opened #1115 "Upgrade to ArangoDB 3.10"
**ArangoDB 3.10** comes with a number of improvements that we could benefit from, like (but not limited to) the following:
1. Native ARM Support
2. Computed Values
3. Inverted collection indexes and other search mechanism improvements
4. Improved `autoincrement` key generator
5. Faster sync replication

https://www.arangodb.com/docs/stable/release-notes-new-features310.html

[2022-10-19 15:53] wajda opened #1116 "TypeError: Cannot read property 'curVal' of null"
[code]

[2022-10-20 09:38] #1116 closed, assigned to wajda

[2022-10-21 08:17] dk1844 opened #1118 "Current develop does not build on Windows due to *-globbing"
## Describe the bug

Current develop  does not build on Windows.

## Versions

Spline develop  69cdf831e883bc64fd17ab4c7a006f44fcc14aea

## Components State
n/a

## To Reproduce

Steps to reproduce the behavior OR commands run:

1. Run `mvn clean build`
2. See error:
[code]

... when fixed or circumvented, another problem arises:
[code]

## Expected behaviour

Project to build on Windows platform,

[2022-10-21 09:37] #1118 closed, assigned to dk1844

[2022-10-26 04:06] Aditya-Sood commented on #684
hi @wajda
thanks for the review! please excuse the delay in response, I was busy with work and then Diwali over the past few days

I've understood the changes required for the first 3 subpoints
Regarding sub-point 4 (`When checking for node orphanage,...`), if I'm unable to use your suggestion from sub-point 3 (i.e. collect orphan exec plans in Stage 1 itself), then I'll add this as well

regardin

[2022-10-26 11:40] wajda commented on #684
There is no need for a separate index for `_id`.  In ArangoDB, `_id` (also called a _document handle_) is just a combination of a collection name and a primary key (`_key`). If you take a look at the explain output, you'll see that the same primary index is used for a selection by the `_id` or `_key` attribute.

[2022-10-26 11:50] wajda commented on #684
I was under the impression this requirement was on the back-burner and not urgent, but if that has changed and you would prefer having @dk1844 continue do let us know

As we didn't hear from you for some time we decided to speed things up a bit. We took your gist and (with some minor changes) basically incorporated it into our older PR that has been started and abandoned some long time ago. @Adity

[2022-10-27 08:45] #485 closed

[2022-10-27 14:43] wajda opened #1121 "Replace the Kafka Gateway with a new Kafka-to-REST adapter service"
It will make individual services more narrow focused and specialized. Kafka-to-REST bridge will simply pump Spline messages from a Kafka to the Producer REST API, that will become the main gate and will decouple Spline persistence layer from the transport layer.

[2022-10-27 14:44] wajda commented on #946
As agreed we won't spit Consumer and Producer apps, but we'll rather replace Kafka Gateway with a Kafka-to-REST bridge - #1121

[2022-10-27 14:44] #946 closed, assigned to wajda

[2022-11-03 17:27] wajda opened #1122 "Label filter not working"
[code]

[2022-11-03 19:38] wajda opened #1124 "arangodb-foxx-services :: `npm run foxx:deploy` modifies source files"
After
[code]

there are some unexpected replacements in the source files

![image](https://user-images.githubusercontent.com/795479/199817980-53fa37ae-f818-4c3a-9563-6c2eda38ad95.png)

[2022-11-04 09:13] #1122 closed, assigned to wajda

[2022-11-07 11:46] #1124 closed, assigned to wajda

[2022-11-07 13:03] miroslavpojer opened #1126 "Add code coverage support"
## Background
Add code coverage support to be able measure code quality.

## Feature
New ability to measure current code coverage as one of QA metrics.

[2022-11-08 08:24] zacayd opened #1128 "Hi @wajda ,"
Hi @wajda ,

when i'm trying to access the endpoint (http://spline:9090/consumer), getting below logs in spline gateway rest-server;
[code]
how i can verify that jsp of consumer & producer is present in spline gateway rest-server

Logs of spline gatewat rest server:-

[code]

_Originally posted by @ankit302 in https://github.com/AbsaOSS/spline/issues/744#issuecomment-651148053_

[2022-11-08 08:32] #1128 closed, assigned to nobody

[2022-11-08 08:33] zacayd opened #1130 "Getting error on UI:Server returned code: 0. Http failure response for http://URL:9091/consumer/execution-events"
## Describe the bug
after installatiom when opening the URL :
http://MYURL:9090/app/dashboard
i get  error:
Server returned code: 0. Http failure response for consumer/execution-events

## Versions

Please provide versions of: Spline, Spark and Scala that were in use when the bug happened.
Spline -0.5.6
Spark-3.3.0
Scala-2.1.2
in Databricks under Azure

[2022-11-08 08:53] cerveada commented on #1130
Answered here - https://github.com/AbsaOSS/spline/issues/743#issuecomment-651109409

[2022-11-08 08:55] cerveada commented on #1130
It means the UI can't reach the server either the consumer URL you configured in the UI is wrong or the server is not reachable via the network.

[2022-11-08 13:01] #1130 closed, assigned to nobody

[2022-11-09 13:03] wajda opened #1131 "Re-implement SPLINE::IS_VISIBLE_FROM_TX() function to pure AQL"
User-defined functions and other functions that can only run on Coordinator nodes in a cluster are not supported in PRUNE expressions. For the upcoming 3.11, the following change has been made to reject queries with invalid PRUNE conditions:

Previously any vertex or edge filter condition qualified to be moved into the traversal. This is not safe if the condition is executed on DB servers. For exa

[2022-11-09 17:12] #1126 closed, assigned to miroslavpojer

[2022-11-10 07:11] miroslavpojer commented on #1126
Release notes:
#1126 - Add code coverage support
- Added code coverage support for JaCoCo library.

[2022-11-11 10:14] dk1844 commented on #684
In reference to https://github.com/AbsaOSS/spline/issues/684#issuecomment-1277297133, I did some measurement runs for stage 1 and stage 2 with different AQL to get a sense how they perform.

## Common info
All measuring was done on the same 12200 lineage records generated by our data-gen using
```bash for ($i = 0; $i -lt 1220; $i++){ echo "loop $i" ; docker run -e SPLINE_URL=http://host.docker.int

[2022-11-14 14:58] wajda opened #1133 "Return value count for label names"
`GET /labels/names/${label_name}/values?withCount=true` to return array of pairs `[value, count]`. E.g.:
[code]

[2022-11-14 15:21] wajda opened #1134 "Add "execution-plan" REST resource"
[code]

Replace `/lineage-detailed?execId=${uuid}` with `/execution-plans/${uuid}`, make the former an alias to the later

[2022-11-15 13:39] wajda opened #1135 "Module java.base does not "opens java.util" to unnamed module"
Maven build fails on some Java versions with the log below.

[code]

[2022-11-16 00:24] wajda commented on #1133
https://www.arangodb.com/docs/3.9/arangosearch-faceted-search.html

[2022-11-16 10:11] #1135 closed, assigned to wajda

[2022-11-23 09:41] cerveada opened #1139 "DateTimeUtils inconsistencies with default ZonedDateTime parsing."
parsing in `admin/src/main/scala/za/co/absa/spline/admin/DateTimeUtils.scala`

`ZonedDateTime.parse` allows both offset and name at the same time . I think it's good idea to accept all inputs that are valid for `ZonedDateTime.parse`

The issue with allowing only **geographical zone id** is that it is ambiguous. Not unique.

[code]

This is the day and hour of change from summer time to winter time

[2022-11-24 11:53] wajda commented on #1139
Great point! The DST transition time is somehow slipped out of my attention. After more careful investigation I realised that my understanding of semantics of the Java's dual time zone notation (offset+ID) was incorrect. The geo ID is not simply complementary to the offset, instead it's actually the desired target representation. E.g. `+07:00[Europe/Prague]` will correctly compute a universal time

[2022-11-28 11:28] #684 closed

[2022-11-28 11:42] wajda commented on #676
This feature has been deprioritized again by the company, so we'll put it aside for awhile.

[2022-11-29 10:30] #1131 closed, assigned to wajda

[2022-11-29 10:49] cerveada opened #1140 "java.lang.UnsatisfiedLinkError: could not load FFI provider com.spotify.docker.client.shaded.jnr.ffi.provider.jffi.Provider When building docker images"
Scala 2.12
Java 11
CPU M1
OS Mac OS

[code]
[maven-docker-issue.log](https://github.com/AbsaOSS/spline/files/10112286/maven-docker-issue.log)

[2022-11-29 12:54] cerveada commented on #1140
Currently used docker maven plugin is not maintained anymore if the issue is not fixable possible replacement is:
 https://github.com/fabric8io/docker-maven-plugin

[2022-11-29 13:46] wajda commented on #1140
we could test it in this repo, but the fix should go to the [root-pom](https://github.com/AbsaOSS/root-pom) repo

[2022-11-29 14:00] cerveada commented on #1140
Workaround assuming current DOCKER_HOST is `unix:///Users/abac720/.colima/docker.sock` :
[code]
from here
https://stackoverflow.com/questions/71300031/docker-image-build-failed-on-mac-m1-chip